
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  /* background-color:#00ac750f; */
  color: #333;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: none;
  }

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  z-index: 1;
}

  .background-image::before {
    /* content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
  }

.banner-image-bg {
  background-image: url("../../../assets/images/banner-background.jpg");
  padding-bottom: 40px;
}

.section-title .title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 15px;
}

  .section-title .title span {
    color: #00ac75;
    font-weight: 800;
  }

.content-title {
  font-size: 45px;
  font-weight: 500;
  color: #333;
  line-height: 69px;
}

  .content-title span {
    color: #00ac75;
    font-weight: 700;
    font-size: 65px;
  }
/* -------------------------------------------
header-part
-------------------------------------------- */
nav {
  background-color: transparent;
}

.navbar-all {
  width: 100%;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.page-logo {
  height: 60px;
}

  .page-logo img {
    height: 100%;
    object-fit: cover;
  }

.header-items {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 800;
  color: #333;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
}

/* -------------------------------------------
body-part hero section
-------------------------------------------- */
.fa:before {
  font-family:'FontAwesome';
}
  .content-section {
  padding: 90px 0px;
  padding-top: 130px;
}

.hero-content-wrapper {
  display: flex;
  align-items: center;
}

.hero-content p {
  color: #444;
  font-weight: 600;
  font-size: 20px;
}

.hero-partners-desc {
  font-size: 25px;
  font-weight: 600;
}

.hero-content-title span {
  font-size: 85px;
}

.hero-partners {
  /* background: #fff; */
  /* height: 30em; */
  /* border-radius: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-desc {
  font-size: 22px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.partners-logo {
  height: 270px;
  /* background: #fff; */
  padding: 10px;
  margin: 0px 5px;
  border-radius: 5px;
}

  .partners-logo img {
    height: 100%;
    /* max-width: 100%; */
  }

.view-all-partners {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #00ac75;
}

  .view-all-partners img {
    height: 25px;
  }

/* our services */

.services-content {
  /* display: flex;
	justify-content: space-between;
	width: 100%; */
}

.services-list {
  height: 175px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 40px 30px 25px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
}

  .services-list .services-name h3 {
    font-size: 20px;
    font-weight: 400;
  }

    .services-list .services-name h3 span {
      font-weight: 800;
    }

.know-more {
  color: #00ac75;
}

  .know-more img {
    height: 25px;
    left: 0;
    transition: all 0.5s ease-in-out;
    /* transition:left 0.3s linear */
  }

.services-list:hover .know-more span img {
  position: relative;
  left: 15px;
}
/* request a call  */
.request-call-section {
  padding-bottom: 0px;
}

.request-call-bg {
  background-image: url("../../../assets/images/banner-background.jpg");
  height: 20em;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

  .request-call-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(235, 242, 235, 0.5);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

.request-call-title {
  padding-top: 75px;
  padding-bottom:00px;
}

.request-call-form {
  display: flex;
}

  .request-call-form .form-control {
    display: flex;
    height: 72px;
    border-radius: 0px;
    border: none;
  }

.form-section .form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.request-call-form .submit-button {
  background: #00ac75;
  font-size: 18px;
  font-weight: 800;
  padding: 0px 30px;
  border-radius: 0px;
  border: 1px solid #00ac75;
}

.request-call-form .form-group {
  position: relative;
  /* padding-left: 30px; */
}

  .request-call-form .form-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #00ac75;
    font-size: 25px;
    margin-top: -11px;
  }

  .request-call-form .form-group .form-control {
    padding-left: 50px;
  }

  .request-call-form .form-group::before {
    content: "";
    height: 30px;
    width: 1px;
    background-color: #333;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
  }

  .request-call-form .form-group:last-child:before {
    content: "";
    display: none;
  }

.phone-no::before {
  display: none !important;
}

.request-call-form .form-group .form-control:focus {
  border: none;
  border: transparent;
}

/* consult with our top doctors */

.profession-list a {
  font-size: 20px;
  border: 1px solid #00ac75;
  border-radius: 50px;
  display: inline-block;
  padding: 15px 0px;
  text-align: center;
  width: 100%;
  margin: 5px auto;
  font-weight: 700;
  color: #00ac75;
}

.consult-with-doctors {
  background: url(../../../assets/images/top-doct.png) no-repeat, #fff;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 35%;
  padding: 80px 0px;
  margin: 0px;
}

/* our core,team */
.team-list {
  background: #00ac75;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  margin-bottom: 15px;
}

.team-image {
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
}

  .team-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.team-list .team-name {
  padding: 20px;
  padding-bottom: 5px;
}

  .team-list .team-name h2 {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .team-list .team-name p {
    font-size: 12px;
  }

/* talk with our doctor */

.talk-our-doctor p {
  color: #333;
  font-weight: 600;
}

.other-actions h2 {
  color: #00ac75;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

/* .talk-our-doctors {
	background: url(../image/talk-our-doctor-bg.jpg) no-repeat, #fff;
	background-repeat: no-repeat;
	background-position: 95% center;
	padding: 80px 0px;
	margin: 0px;
	background-size: 500px;
	position: relative;
	z-index: 1;
}

.talk-our-doctors::after {
	content: "";
	width: 100%;
	height: 45%;
	background-image: linear-gradient(180deg, rgb(0 0 0 / 0%), white);
	display: block;
	position: absolute;
	bottom: 75px;
	left: 0;
	z-index: -1;
} */

.icon-sec {
  height: 80px;
  width: 80px;
  background: #00ac75;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 100%;
  color: #fff;
}

.contact-us .contact {
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

  .contact-us .contact h1 {
    font-weight: bold;
    margin: 15px auto;
    margin-bottom: 5px;
    font-size: 35px;
  }

.profession-list a {
  font-size: 16px;
  border: 2px solid #555;
  border-radius: 50px;
  display: inline-block;
  padding: 15px 0px;
  text-align: center;
  width: 100%;
  margin: 5px auto;
  font-weight: 700;
  color: #555;
  background: #fff;
}

  .profession-list a:hover {
    border: 2px solid #00ac75;
    color: #00ac75;
    text-decoration: none;
  }

footer.hamro-danphe-footer {
  padding-top: 50px;
  padding-bottom: 25px;
}

  footer.hamro-danphe-footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  footer.hamro-danphe-footer p {
    font-size: 15px;
    margin-bottom: 0;
  }

  footer.hamro-danphe-footer .form-control {
    background: #e8f2f3;
    height: 50px;
    border: none;
  }

  footer.hamro-danphe-footer ul {
    padding-left: 0px;
    list-style: none;
    font-size: 14px;
    line-height: 30px;
  }

  footer.hamro-danphe-footer li p span {
    font-weight: 700;
    display: block;
    font-size: 13px;
  }

  footer.hamro-danphe-footer li i {
    margin-right: 10px;
  }

  footer.hamro-danphe-footer a,
  footer.hamro-danphe-footer .bottom-footer p a {
    color: #00ac75;
    font-weight: 700;
    font-size: 14px;
  }

    footer.hamro-danphe-footer a i {
      margin-left: 5px;
    }

  footer.hamro-danphe-footer .bottom-footer {
    margin-top: 25px;
    border-top: 1px solid #eee;
    padding-top: 25px;
  }

    footer.hamro-danphe-footer .bottom-footer p {
      font-size: 15px;
    }

/* responsive */

/* Responsive Css Start */
@media only screen and (max-width: 1400px) {
  .partners-logo {
    height: 200px;
  }
}

@media only screen and (max-width: 1100px) {
  .partners-logo {
    height: auto;
  }

    .partners-logo img {
      height: auto;
      max-width: 100%;
    }

  .content-section {
    padding: 30px 0px;
  }

  .other-actions h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .talk-our-doctors::after {
    display: none
  }
  .content-title {
    font-size: 30px;
    font-weight: 500;
    color: #333;
    line-height: 45px;
  }
  .hero-content-title {
    font-size: 20px;
  }
  .hero-content-title span {
    font-size: 45px;
    line-height: 20px;
}
.hero-desc {
  font-size: 15px;
}
.section-title .title {
  margin-bottom: 0 !important;
}
.services-list {
  height: 150px;
}
.request-call-form .form-control {
  height: 52px;  
}
.content-title span {
  font-size: 40px;
}
.profession-list a {
  padding: 7px 0px;
  margin: 3px auto;
}
.icon-sec {
  height: 60px;
  width: 60px;
  font-size: 25px;
}
.icon-sec i {
  font-size: 25px;
}
.contact-us .contact h1 {
  font-size: 25px;
}
.request-call-title {
  padding-top: 20px;
}
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .navbar-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }

  .request-call-form {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 10px !important;
  }

    .form-group::before {
      display: none !important;
    }

  .submit-button {
    padding: 13px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
  }

  .consult-with-doctors,
  .talk-our-doctors {
    background: #fff;
  }
  .other-actions {
    margin-top: 3px !important;
  }
  .other-actions h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: none;
  }
 
  .contact-us .contact h1 {
    font-size: 25px;
  }
  
}

@media only screen and (max-width: 600px) {
  .content-section {
    padding: 30px 0px;
  }
.hero-section {
  padding: 0 !important;
}
  .hero-content-wrapper {
    flex-direction: column-reverse;
  }
  .hero-desc {
    font-size: 18px !important;
    line-height: 26px;
    margin: 0 0 5px 0;
  }
  .partners-logo {
    height: auto;
    padding: 0;
  }

    .partners-logo img {
      height: auto;
      max-width: 100%;
    }

  .content-title {
    font-size: 25px;
    line-height: 30px;
  }

    .content-title span {
      font-size: 32px;
    }

  .section-title .title, .section-title {
    font-size: 25px !important;
    padding-bottom: 0;
  }

  .contact-us .contact h1 {
    font-size: 29px;
  }

  .request-call-bg {
    height: auto;
    padding: 25px 0px;
  }

  .request-call-title {
    padding: 0;
  }

  .contact h1,
  p {
    text-align: start;
    justify-content: flex-start;
    font-size: 16px;
  }
  .hero-content-wrapper div[class*="col-"] {
    display: block;
    max-width: 100%;
    flex: 0;
  }
  .hero-content-wrapper {
    text-align: center;
  }
  .services-list {
    /* height: 120px; */
    padding: 15px;
    border-radius: 10px;
  }
  .services-list .services-name h3 {
    font-size: 16px;
  }
  .banner-image-bg {
    padding-bottom: 0;
  }
  .request-call-form .form-control {
    height: 45px;
    border-radius: 5px;
  }
  .profession-list a {
    font-size: 16px;
    padding: 8px 0px;
    border-width: 1px;
  }
  .talk-our-doctor p {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .services-content .row {
    margin: 0 -5px;
  }
  .services-content div[class*="col-"] {
    padding: 0 5px;
    display: inline-block;
    width: 50%;
  }
  .services-list .services-name h3 span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
section.contact-us {

  padding: 50px 0;
}
