
<div class="section page-top">
  <div class="ver-2 text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="justify-content-center hero-text-center">
            <div class="hero-text mt-0"><b>Contact Us</b></div>
            <h4>Danphe Care is always here for you, 24/7</h4>
          </div>
        </div>
        <div class="col text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="[ '/', 'homepage' ]">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="contact-us bg-white contact-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 contact-widget-section2 wow animated fadeInLeft mb-5" data-wow-delay=".2s">
        <div class="wow animated fadeInLeft" data-wow-delay=".2s">
          <h5 class="sub-heading mb-3">Love to hear from you</h5>
        </div>
        <!--<ul>
          <li>
            <i class="fa fa-map-marker"></i> <b>Head Office :</b>Dillibazar, Kathmandu, Nepal
          </li>
          <li>
            <i class="fa fa-phone"></i> <b>Phone :</b>+977-1-4444217, 4416468
          </li>
          <li>
            <i class="fa fa-envelope"></i> <b>Email :</b><a href="">info@danphecare.com</a>
          </li>
        </ul>-->
        <ul>
          <li>
            <i class="fa fa-map-marker"></i><b>Head Office :</b> {{contact.location}}
          </li>
          <li>
            <a href="tel:{{contact.phone}}"><i class="fa fa-phone"></i></a> <b>Phone :</b><a href="tel:{{contact.phone}}">{{contact.phone}}</a>
          </li>
          <li>
            <a href="mailto:{{contact.email}}"><i class="fa fa-envelope"></i></a> <b>Email :</b><a href="mailto:{{contact.email}}">{{contact.email}}</a>
          </li>
        </ul>





      </div>
      <div class="col-md-12">
        <div class="map-canvas mb-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.3846150938984!2d85.3244805145383!3d27.70540873218506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19a77f1ab301%3A0xb213d09ebce4b3da!2sDillibazar!5e0!3m2!1sen!2snp!4v1602819972206!5m2!1sen!2snp" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <!--{{contact.GoogleMap}}-->
        </div>
      </div>
      <!-- Section Titile -->
      <!-- contact form -->

      <div class="col-md-12 wow animated fadeInRight mb-5" data-wow-delay=".2s">
        <h5 class="sub-heading mb-3">Reach us quickly</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmitReachUsQuickly()" novalidate #myForm ="ngForm">
          
          <input type="hidden" name="_token" value="KinDAjJXrUPKe8siUiYRwkDpKTWiufggOAHehDF5">
          <!-- Name -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label" for="name_field">Name</label>
                <!-- <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name"> -->
                <input type="text" class="form-control " id="name" name="name" [(ngModel)]="DhcareRuq.name" required placeholder="Enter your name *" formControlName="name">

                <div *ngIf="NameControl.invalid && (NameControl.dirty || NameControl.touched || (NameControl.untouched && submitted) )" class="alert-sm alert-danger">
                  <div *ngIf="NameControl.errors.required">Name is required</div>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label" for="email_field">Email</label>
                <!-- <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email"> -->
                <input type="text" class="form-control " id="email" name="email" value="" [(ngModel)]="DhcareRuq.email" required placeholder="Enter your email *" formControlName="email">
                <div *ngIf="EmailControl.invalid && (EmailControl.dirty || EmailControl.touched)|| (EmailControl.untouched && submitted)" class="alert-sm alert-danger">
                  <div *ngIf="EmailControl.errors.required">Email is required</div>
                  <div *ngIf="EmailControl.errors.pattern">Enter valid email address</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label" for="phone_field">Phone</label>
                <!-- <input class="form-control" id="phone" type="number" name="phone" required data-error="Please enter your name"> -->
                <input type="text" class="form-control " id="phone" name="phone" [(ngModel)]="DhcareRuq.phone"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)" required value="" placeholder="Enter your phone *" formControlName="phone">
                <div *ngIf="PhoneNumberControl.invalid && (PhoneNumberControl.dirty || PhoneNumberControl.touched ||(PhoneNumberControl.untouched && submitted) )" class="alert-sm alert-danger">
                  <div *ngIf="PhoneNumberControl.errors.required">Phone Number is required</div>
                </div>
              </div>
            </div>
            <!--<div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label" for="company_field">Company</label>
        <input type="text" class="form-control " id="company_field" name="company_field" value="" placeholder="Enter your company">
        <div class="help-block with-errors"></div>
      </div>
    </div>-->
          </div>
          <!-- Message -->
          <div class="form-group label-floating">
            <label for="message_field" class="control-label">Message</label>
            <textarea class="form-control " rows="3" id="message_field" name="message_field" [(ngModel)]="DhcareRuq.message"  required data-error="Write your message" [ngModelOptions]="{standalone: true}"></textarea>
            <div class="help-block with-errors" ></div>
          </div>
          <input type="hidden" name="recaptcha1" id="recaptcha1" value="03AGdBq27idrts8xlxPQMAJk92XHeIOu5omj_JSOxddbsID47zxkasi08A2hcy0vlMMH-i9fv38ze-GZXM6gDbWRBgXe0o34FttksfkMMUVJWVB8JrzkvCY9Oggc3JTt3DWWD3yYBkXLtmWqADuO7df64ZidO4z9QnqRH2qCp72te8_uAtddfCmJbec2zxZ7yxsjc3hddnfiNt0mIDciGUwUrp5kOth_Tz8dQ2qWu_53pU7kmfz2fHLoR9pBhsNTReSi-cSBUPHzUYK1K5i_QhINDON5xnWwtgsrLnKyo4S5Pzr0moDTeZKQ1L3YC_p5cjGdRPFXLFRLGaQbAYo_3V8ijEyLaeDhyUadvP_cjq9Y4OJHCNi0W2N6rdesPQaRKSng9p5uztBdFOfZosGCUr6_nJZ_fAyd3OiWS3BpKuLYTpgfI60p9acXEE42f3Un8UTqYUsw-BSaw2L-T6A-_YNK1H4l3MJw-zYLR16sbHRew-AoR0AmXNveHRP3N6bKsVGx6G6l_qhebe">
          <!-- Form Submit -->
          <div class="form-submit mt-5">
            <button class="btn btn-primary btn-round" type="submit">
              <span *ngIf="loading" class="spinner-border" role="status">Sending ...</span>
              <span *ngIf="!loading"><i class="material-icons mdi mdi-message-outline"></i> Send Message</span>
            </button>
            <!--<button class="btn btn-primary btn-round" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>-->

            <div class="clearfix"></div>
          </div>
        </form>
      </div>


    </div>
  </div>
</section>

<style>
  .light-over-pages {
    position: absolute;
    background: linear-gradient(180deg, rgb(255 255 255 / 70%), rgb(189 189 189 / 40%));
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .list-style {
    padding: 0;
  }

    .list-style li {
      list-style: none;
      position: relative;
      padding-left: 25px;
      margin: 5px 0;
    }

      .list-style li span {
        display: block;
      }

      .list-style li:before {
        content: "\f00c";
        font-family: FontAwesome;
        background-color: #0db696;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 15px;
        height: 15px;
        align-items: center;
        font-size: 0.7rem;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 0;
      }

  .home-isolation .sub-heading, .emmergency-info .sub-heading {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .center-title {
  }

    .center-title h4 {
    }
</style>
