
<div class="wrapper">
  <h4><strong>Danphe Care Contact</strong></h4>

  <div class="" style="background-color:snow;">
    <div class="info-heading">
      <form #contactUsAddForm="ngForm" (ngSubmit)="AddContact(contactUsAddForm)">
        <table>
          <tr >
            <td>
              <label class="control-label">Location <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="Location" size="50" #Location="ngModel" [(ngModel)]="contact.location"
                     required />
            </td>
          </tr>
          <tr >
            <td>
              <label class="control-label">Phone <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="Phone" size="50" #Phone="ngModel" [(ngModel)]="contact.phone"
                     required />
            </td>
          </tr>
          <tr >
            <td>
              <label class="control-label">Email <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="Email" size="50" #Email="ngModel" [(ngModel)]="contact.email"
                     required />
            </td>
          </tr>
          <!-- <tr class="3-cols">
            <td>
              <label>Fax <span class="required-sign">*</span></label>
              <input type="text" name="Fax" size="50" #Fax="ngModel" [(ngModel)]="contact.Fax"
                      />
            </td>
          </tr> -->
          <tr>
            <td>
              <label class="control-label">Website <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="Website" size="50" #Website="ngModel" [(ngModel)]="contact.website"
                     required />
            </td>
          </tr>
          <!--<tr class="3-cols">
            <td>
              <label>Google Map <span class="required-sign">*</span></label>
              <ck-editor name="editor1" [(ngModel)]="contact.GoogleMap" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
              <input type="text" name="Website" size="50" #GoogleMap="ngModel" [(ngModel)]="contact.GoogleMap"
      required />
            </td>
          </tr>-->
          <tr >
            <td>
              <label class="control-label">Opening Hours <span class="required-sign">*</span></label>
              <ck-editor name="editor2" [(ngModel)]="contact.openingHours" ></ck-editor>
              <!--<ngx-ckeditor [(ngModel)]="contact.openingHours" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
            </td>
          </tr>
        </table>
        <div class="modal-footer">
          <button class="btn btn-primary" value="Submit">{{EditMode?"Update":"Submit"}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
