
<div class="wrapper">
    <div class="card-title mb-4">
        <span class="select-title" style="font-size:xx-large; margin-right:20px"><i class="fa fa-plus-square"></i>About Us Page </span>
    </div>

    <div class="" style="background-color:snow;">
        <div class="info-heading">
            <form #aboutUsAddForm="ngForm" (ngSubmit)="AddAboutUs(aboutUsAddForm)">
                <table>
                    <tr>
                        <td>
                            <label class="control-label">Title <span class="required-sign">*</span></label>
                            <input class="form-control" type="text" name="Title" size="50" #Title="ngModel" [(ngModel)]="aboutUs.title"
                                required />
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label class="control-label">ShortDescription </label>
                             <textarea class="form-control" type="text" name="ShortDescription" size="50" #ShortDescription="ngModel"
                                [(ngModel)]="aboutUs.shortDescription" required>
                            </textarea>
                        </td>
                    </tr>
                     <tr>
                      <td>
                        <label class="control-label">Content </label>
                         <!--<ngx-ckeditor [(ngModel)]="aboutUs.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                        <ck-editor name="editor1" [(ngModel)]="aboutUs.content"></ck-editor>
                        <!--<angular-editor name="Content" [placeholder]="'Enter text here...'" [(ngModel)]="aboutUs.Content" #Content="ngModel" [ngModelOptions]="{standalone: true}"></angular-editor>-->
                        <!--<div class="form-group has-feedback"
                             [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">-->
                          <!--<ckeditor [(ngModel)]="aboutUs.Content" [ngModelOptions]="{standalone: true}"
                                   >
                          </ckeditor>-->
                          <!--<div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
                        </div>-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!--<label class="control-label">About Us Image </label>-->
                        <!-- (change)="upload(file.files)" -->
                        <input type="file" #file placeholder="Choose file" (change)="upload(file.files)"
                               name="fileName" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}"
                               style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Image
                        </button>
                        <div class="row">
                          Dimension (350*351 pixels)
                          </div>
                          <div class="col-md-10 d-inline">
                            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                              {{progress}}%
                            </span>
                            <span class="upload" *ngIf="message" style="font-size: 11px;">
                              {{message}}
                            </span>
                          </div>
</td>
                    </tr>
                </table>
                <img *ngIf="ShowPreview" [src]="previewImgURL" height="200" style="margin-bottom:50px;">

                <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">{{EditMode?"Update":"Submit"}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
