
<section id="hero" class="d-flex align-items-center hero-section3">
  <div class="container clearfix">
    <div class="row justify-content-between">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1 style="color:white">
          Comprehensive support for expats
          <!--A comprehensive expats
  guide to getting medical treatment <span class="text-warning">COVID-19</span>-->
        </h1>
        <h2 style="color:white">
          Feel homely even if you are living in a foreign land
          <!--Holistically procrastinate mission-critical convergence with reliable customer service. Assertively underwhelm
  idea-sharing for impactful solutions. Know how you'll protect yourself and stay safe.-->
        </h2>
        <!--<div class="row">
          <div class="col-md-3">
            <div class="stati asbestos d-flex text-white">
              <div class="stat-name">
                <h4>87976</h4>
                <span>Total Cases</span>
              </div>
              <i class="fa fa-arrow-up"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="stati asbestos left d-flex text-white">
              <div class="stat-name">
                <h4>77656</h4>
                <span>Total Recovered</span>
              </div>
              <i class="fa fa-arrow-up"></i>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="stati asbestos left d-flex text-white">
              <div class="stat-name">
                <h4>456</h4>
                <span>Death</span>
              </div>
              <i class="fa fa-arrow-up"></i>
            </div>
          </div>
        </div>-->
      </div>
      <div class="col-lg-4  order-1 order-lg-2">
        <div class="tab-wrapper">
          <div class="hero-content-form-wrapper">         
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
                <div [hidden]="submitted">
                  <div class="inner-form">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmitReachUsQuickly()">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="text" formControlName="name" id="name" placeholder="Enter your name *" [(ngModel)]="DhcareRuq.name"
                                   class="form-control" [ngClass]="{ 'is-invalid': submitForm && NameControl.errors }" />
                            <div *ngIf="NameControl.invalid && (NameControl.dirty || NameControl.touched || (NameControl.untouched && submitForm))" class="alert-sm alert-danger">
                              <div *ngIf="NameControl.errors.required">Name is required</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <i class="fa fa-phone"></i>
                            <input type="text" formControlName="phonenumber" id="phone" placeholder="Phone Number *" [(ngModel)]="DhcareRuq.phone"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                   class="form-control" [ngClass]="{ 'is-invalid': submitForm && PhoneNumberControl.errors }" />
                            <div *ngIf="PhoneNumberControl.invalid && (PhoneNumberControl.dirty || PhoneNumberControl.touched || (PhoneNumberControl.untouched && submitForm))" class="alert-sm alert-danger">
                              <div *ngIf="PhoneNumberControl.errors.required">Phone Number is required</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <i class="fa fa-envelope"></i>
                            <input type="text" formControlName="email" id="email" placeholder="E-mail address *" [(ngModel)]="DhcareRuq.email"
                                   class="form-control" [ngClass]="{ 'is-invalid': submitForm && EmailControl.errors }" />
                            <div *ngIf="EmailControl.invalid && (EmailControl.dirty || EmailControl.touched || (EmailControl.untouched && submitForm))" class="alert-sm alert-danger">
                              <div *ngIf="EmailControl.errors.required">Email is required</div>
                              <div *ngIf="EmailControl.errors.pattern">Enter valid email address</div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="form-group mb-0">
                        <div class="row">

                          <div class="col-md-6">
                            <button class="btn btn-primary">
                              <span *ngIf="loading" class="spinner-border" role="status">Sending ...</span>
                              <span *ngIf="!loading">Request for Call</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <!--<div class="tab-wrapper">
    <div class="hero-content-form-wrapper">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-link active" id="nav-emergency-tab"
            data-toggle="tab" href="#emergency" role="tab" aria-controls="emergency"
            aria-selected="true">Emergency Cases</a> <a class="nav-link" id="nav-app-tab" data-toggle="tab"
            href="#nav-app" role="tab" aria-controls="nav-app" aria-selected="false">Make Appointment</a> </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
          <div>
            <div class="inner-form">-->
        <!--                <h3>Emergency Cases</h3>-->
        <!--<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="_token" value="dFMTUSP6dOZ0PpuALrq8dnPteg48GC8F6xzm4R2N">
    <div class="form-group">-->
        <!--<ion-icon name="person-outline"></ion-icon>-->
        <!-- <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"> -->
        <!--<input type="text" class="form-control " id="name" name="name" value=""
      placeholder="Enter your name">
  </div>
  <div class="form-group">-->
        <!--<ion-icon name="phone-portrait-outline"></ion-icon>-->
        <!-- <input type="phone" class="form-control" id="phone"  name="phone" placeholder="Enter your Mobile Number"> -->
        <!--<input type="text" class="form-control " id="phone" name="phone" value=""
      placeholder="Enter your Mobile Number">
  </div>
  <div class="form-group">-->
        <!--<ion-icon name="mail-outline"></ion-icon>-->
        <!-- <input type="text" class="form-control" id="address" placeholder="Enter your Address"> -->
        <!--<input type="text" class="form-control " id="email_address" name="email_address" value=""
      placeholder="Enter your email address">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary"><strong>Apply Now</strong></button>
      </div>
    </div>
  </div>
  <input type="hidden" name="recaptcha" id="recaptcha"
    value="03AGdBq24kLGCaHkHkIummiIdgzw38VxQhZRUs7Wq9LQDDe-ZKBetFsJbXpGB-GaBVGXqoaqymEjRVFgopXRxY0EnlRQkp6hFrM-sbhA4ffx8MfBQGzb7nV9YXTXwFsZ3SNUX3s9AlRdf3z3u1JfZRqk5TAR5JJfUSo6-cW_zf-E3xiQd_MpKHMn4h-5gDh8lynMSTBElqWeWmmucX-0mCmS2V_g2UyBGcUN5Dg-TYBtn-b2hIitHYofM9uEyhbAXVy75pLlDzuv1vUZFGfhFojknf5AE1PnssPr_LLoqJUHB8ysutzWnioOQp4J5M3LH_O3x1iqpyPYTLW4Uwj-v7RULL72-RX1_RWXODNy5BHNKwGMYl42M4Lhad7n9wf45PRYNWHTb7JZSvxHTbekV0-CVnLn4vDo9WheRqHQCio4UwGsfaxuMeORfdZoxcZ_gXMOfCFziSdijGjxGve6z2ebi-_MqVCog1HPngFLWiaj4z0L9Z11PjAr2TkREslwp-gzJcBlfKy3jC">-->
        <!--<button type="submit" class="btn btn-primary">Apply</button>-->
        <!--</form>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-app" role="tabpanel" aria-labelledby="nav-app-tab">
    <div>
      <div class="inner-form">-->
        <!--                <h3>Emergency Cases</h3>-->
        <!--<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="_token" value="dFMTUSP6dOZ0PpuALrq8dnPteg48GC8F6xzm4R2N">
    <div class="form-group">-->
        <!--<ion-icon name="person-outline"></ion-icon>-->
        <!-- <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"> -->
        <!--<input type="text" class="form-control " id="name1" name="name1" value=""
      placeholder="Enter your name">
  </div>
  <div class="form-group">-->
        <!--<ion-icon name="phone-portrait-outline"></ion-icon>-->
        <!-- <input type="phone" class="form-control" id="phone"  name="phone" placeholder="Enter your Mobile Number"> -->
        <!--<input type="text" class="form-control " id="phone1" name="phone1" value=""
      placeholder="Enter your Mobile Number">
  </div>
  <div class="form-group">-->
        <!--<ion-icon name="mail-outline"></ion-icon>-->
        <!-- <input type="text" class="form-control" id="address" placeholder="Enter your Address"> -->
        <!--<input type="text" class="form-control " id="email_address1" name="email_address1" value=""
                    placeholder="Enter your email address">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary"><strong>Apply Now</strong></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
      </div>
    </div>
  </div>
</section>
<!--Hero section end-->
<section class="about-section2">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <div class="text-left">
          <h2 class="section-heading text-left mb-2">How we are helping expats?</h2>
        </div>
        <ul class="mt-4">
          <!--<li *ngFor="let data of expatList"> <span [innerHTML]="data.name"></span>
  </li>-->
          <li><i class="fa fa-check-circle"></i>Teleconsultation</li>
          <li><i class="fa fa-check-circle"></i>Lab at Home</li>
          <li><i class="fa fa-check-circle"></i>COVID Care</li>
          <li><i class="fa fa-check-circle"></i>Physiotherapy at Home</li>
          <li><i class="fa fa-check-circle"></i>Tele-psychiatry</li>
          <li><i class="fa fa-check-circle"></i>Tele-Internal Medicine</li>
          <li><i class="fa fa-check-circle"></i>Diet and Nutrition</li>
          <li><i class="fa fa-check-circle"></i>Gynecology</li>
          <li><i class="fa fa-check-circle"></i>Endocrinology</li>
          <li><i class="fa fa-check-circle"></i>Vaccination at Home</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="about-image" > <img src="../../../assets/images/expat-about.png" alt=""> </div>
        <!--<div class="about-image"> <img [src]="imagePath" alt=""> </div>-->
      </div>
    </div>
  </div>
</section>
<section class="contact-info-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center text-lg-left">
        <h3>Available 24*7</h3>
        <p>

          If you have any health-related queries, please contact us.
          We will provide you with guidance and support to solve your health concern.
          For emergencies, we suggest you contact the nearest ambulance service or go to a nearby hospital for immediate attention.
          If you are in quarantine or home isolation, our team of nurses, medical officers, and specialists also provide physical, mental, and social support to improve your well being and overcome your anxiety.
        </p>
      </div>
      <div class="col-lg-6 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="tel:{{contact.phone}}">
          Call us to know more<br>
          <span style="font-size: 20px; font-weight: 700;">{{contact.phone}}</span>
        </a>
        <div class="email-contact"> <span>OR</span> Email us : <a href="mailto:{{contact.email}}">{{contact.email}}</a> </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Why Us Section ======= -->
<!--<section id="why-us" class="why-us section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <h3 class="section-heading">
            Webiners
            <p class="sub-heading">
              We are trying to share the basic infection control tips all over the world and also <br />
              taking care of everyone who is lookigg for home isolation.
            </p>
          </h3>
          <div class="row">
            <div *ngFor="let data of webinarList;" class="webiner-list col-md-4 mt-5">
              <div class="webinars">
                
                <iframe [src]="(data.webinarVideo) | safe"
                        width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allowFullScreen="true"></iframe>
                <a href=""><h1 class="webinar-title">{{data.title}}</h1></a>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--	About Section Start-->
<!--<section class="emmergency" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="emmergency-image"> <img [src]="aboutUs.imagePath" alt=""> </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="emmergency-info">
          <h1 class="section-title text-left"> About Us</h1>
          <h1 class="section-title-main"> <span class="d-block text-primary mb-1"
              style="font-size: 18px;"><strong></strong></span> </h1>
          <p>{{aboutUs.shortDescription}}</p>
          <p [innerHTML]="aboutUs.content"></p>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--<section class="team" id="team" style="padding-top: 0;">
  <div class="container">
    <h1 class="section-title text-left">
      <span class="text-block text-primary" style="display: block;font-size: 16px;">OUR TEAM</span> Dedicated team <br>
      for your care
    </h1>
    <h5 class="section-title" style="margin-bottom: 45px;">
      <strong>
        <span style="display: block; font-size: 18px;"
              class="text-primary"></span>
      </strong>
    </h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let data of coreTeamMemberList">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="team-img img-fluid"
                         [src]="data.imagePath" alt="card image">
                  </p>
                  <h4 class="card-title"><strong> {{data.fullName}}</strong></h4>
                  <p class="card-text">{{data.department}}</p>
                  <p class="card-text">{{data.shortDescription}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4"> </div>
      <div class="bx-widget-content">
        <button class="btn btn-info" [routerLink]="[ '/', 'teampage' ]" style="text-decoration:underline">View All</button>
      </div>

      <div class="col-md-4"></div>
    </div>

  </div>
</section>-->

<!-- End Team Section -->

<!--<section class="coverage-media" id="media">
  <div class="container">
    <h1 class="section-title text-center">Our Media Coverage</h1>
    <div class="row" >
      <div class="col-md-2" *ngFor="let data of ourMediaCoverageList">
        <div class="brand-image"> <a [href]="data.mediaURL" target=”_blank”> <img [src]="data.imagePath"
              alt=""> </a> </div>
        <hr />
        <p>{{data.name}}</p>
      </div>
      
    </div>
  </div>
</section>-->
<style>
  /*
    body{
      font-family: 'Quicksand' !important;
    }
  */
  .hero-content-form-wrapper .btn-pay {
    background-color: transparent !important;
    border-radius: 30px;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin: 15px 0;
    color: #009688 !important;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: inherit;
    text-decoration: underline;
    line-height: 12px;
  }

  .hero-content-form-wrapper .btn-pay:hover,
  .hero-content-form-wrapper .btn-pay:focus {
    background-color: transparent;
    color: #006e64 !important;
    outline: 0 !important;
    border: none !important;
    -moz-outline-style: none !important;
  }
</style>

