<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #cmsBlogForm="ngForm" (ngSubmit)="AddCMSBlogs(cmsBlogForm)">
    <table>
      <tr>
        <td>
          <label class="control-label">Title <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="title" size="50" #Title="ngModel"
                 [(ngModel)]="selectedCMSBlogs.title" required />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Posted by <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="postedBy" size="50" #PostedBy="ngModel"
                 [(ngModel)]="selectedCMSBlogs.postedBy" required />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Permalink <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="permalink" size="50" #Permalink="ngModel"
                 [(ngModel)]="selectedCMSBlogs.permaLink" required />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Content </label>
          <!--<ngx-ckeditor [(ngModel)]="selectedCMSBlogs.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
          <ck-editor name="editor1" [(ngModel)]="selectedCMSBlogs.content"></ck-editor>
        </td>
      </tr>
      <tr class="3-cols">
        <td>
          <!--<label class="control-label">Photo </label>-->
          <br />
          <input type="file" #file placeholder="Choose file" (change)="upload(file.files)"
                 name="fileName" [(ngModel)]="selectedCMSBlogs.imagePath" [ngModelOptions]="{standalone: true}"
                 style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Image
          </button>
          <div class="row">
            Dimension (1519*207 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
      </tr>
    </table>
    <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
        Submit
      </button>
    </div>
  </form>
</div>
