
<footer>
  <div class="container">
    <div class="top-footer">
      <div class="row">
        <div class="col-md-3">
          <h3>About Us</h3>
          <p>{{aboutUs.shortDescription}} </p>
          <a routerLink="aboutuspage">Read More<i class="fa fa-long-arrow-right"></i></a>
        </div>
        <div class="col-md-3">
          <h3>Signup For Newsletter</h3>
          <div class="subscribe">
            <form class="subscribe-form" id="newsletter-form">
              <div class="form-group">
                <label for="mail">
                  <p>Select your newsletters, enter your email address, and click "Subscribe"</p>
                </label>
                <input type="email" id="mail" name="EMAIL" placeholder="Your email address" class="subscribe-field form-control">

              </div>
              <button class="btn btn-primary">Subscribe</button>

            </form>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Opening Hours</h3>
          <ul class="list-work-times">
            <li>
              <p> <span class="time-table-day">Sunday - Thursday:</span> <span class="time-table-time">09:00 AM - 06:00 PM</span> </p>
            </li>
            <li>
              <p> <span class="time-table-day">Friday:</span> <span class="time-table-time">10:00 AM - 04:00 PM</span> </p>
            </li>
            <li>
              <p> <span class="time-table-day">Saturday:</span> <span class="time-table-time">08:00 AM - 02:00 PM</span> </p>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Contact Us</h3>
          <ul class="contact">
            <li><i class="fa fa-map-marker"></i>{{contact.location}}</li>
            <li><i class="fa fa-phone"></i>{{contact.phone}}</li>
            <!--<li><i class="fa fa-fax"></i>{{contact.Fax}}</li>-->
            <li><i class="fa fa-envelope"></i>{{contact.email}}</li>
            <li><i class="fa fa-globe"></i><a href="#">{{contact.website}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-footer clearfix">
      <p style="text-align: center;">© 2020. All Right Reserved. <a href="#"> Danphe Care</a></p>
    </div>
  </div>
</footer>
