<nav id="menu-wrap" class="menu-back cbp-af-header" style="background:white">
  <div class="menu">
    <div class="logo">
      <a routerLink="homepage">
        <img src="../../../assets/images/danphecarelogo.png" alt="logo" />
      </a>
  
      <!--<img src="../../../assets/img/danphecarelogo.png" alt="logo"> </a>-->
      <!--<i style="font-size:8px; color:red">(beta version)</i>-->
    </div>
    <ul>
      <li>
        <a class="curent-page" routerLink="">Home <!--<i class="icon ion-android-arrow-dropdown"></i>--></a>

      </li>
      <li> <a [routerLink]="[ '/', 'aboutpage' ]">About</a></li>
      <li>
        <a [routerLink]="[ '/', 'servicepage' ]">Our Services <i class="icon ion-android-arrow-dropdown"></i></a>
        <ul>
          <li *ngFor="let data of servicesList"><a (click)="GoToServiceDetails(data.serviceId)">{{data.serviceName}}</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="homepage">Department <i class="icon ion-android-arrow-dropdown"></i></a>
        <ul>
          <li *ngFor="let data of departmentList"><a (click)="DepartmentDetails(data.departmentId)">{{data.departmentName}}</a></li>
        </ul>
      </li>
      <li> <a [routerLink]="[ '/', 'teampage' ]">Team</a></li>
      <li> <a [routerLink]="[ '/', 'specialist' ]">Our Specialist</a> </li>
      <!--<li> <a [routerLink]="[ '/', 'newspage' ]">News</a> </li>-->
      <!--      <li> <a href="#">Tele Medicine</a> </li>		-->
      <!--<li> <a [routerLink]="[ '/', 'blogpage' ]">Blog</a> </li>-->
      <li> <a [routerLink]="[ '/', 'expatpage' ]">Expat</a> </li>
      <li> <a [routerLink]="[ '/', 'contactpage' ]">Contact Us</a> </li>
      <li *ngIf="!isUserLoggedIn"> <a [routerLink]="[ '/', 'login' ]">Telemedicine Service</a> </li>
      <li *ngIf="isUserLoggedIn"> <a href="javascript:;" (click)="logout()"><i class="fa fa-sign-out"></i>Log out</a> </li>

      <!--<li> <button class="btn btn-primary" (click)="GotoTelemedicine()" style="font-size: 12px; width: 100%;margin: 15px auto; border-radius: 30px; font-weight:bold"> Telemedicine Service </button> </li>-->
    </ul>
  </div>
</nav>
