<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #cmsNewsForm="ngForm" (ngSubmit)="AddCMSNews(cmsNewsForm)">
    <table>
      <tr>
        <td>
          <label class="control-label">Title <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                 [(ngModel)]="selectedCMSNews.title" required />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Content </label>
          <ck-editor name="editor1" [(ngModel)]="selectedCMSNews.content" ></ck-editor>
          <!--<ngx-ckeditor [(ngModel)]="selectedCMSNews.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
        </td>
      </tr>
      <tr>
        <td>
          <!--<label>Photo </label>-->
          <input type="file" #file placeholder="Choose file" (change)="upload(file.files)"
                 name="fileName" [(ngModel)]="selectedCMSNews.imagePath" [ngModelOptions]="{standalone: true}"
                 style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Image
          </button>
          <div class="row">
            Dimension (1519*296 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
      </tr>
    </table>
    <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
        {{
                         EditMode?"Update":"Submit"
        }}
      </button>
    </div>
  </form>
</div>
