<div class="wrapper">
    <div class="clearfix">
        <div class="card-title mb-4">
            <span class="select-title" style="font-size:xx-large; margin-right:20px"><i class="fa fa-plus-square"></i>Testimonial Page </span>            
        </div>
        
        <!-- class="modal-body" -->
        <div style="background-color:snow;">
            <div class="info-heading">
                <form #testimonialMainForm="ngForm" (ngSubmit)="AddTestimonialMain(testimonialMainForm)">
                    <table>
                        <tr >
                            <td>
                                <label class="control-label">Title <span class="required-sign">*</span></label>
                                <input class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                                    [(ngModel)]="mainObject.title" required />
                            </td>
                            <td>
                                <label class="control-label">Customer Count</label>
                                <input class="form-control" type="number" name="CustomerCount" size="50" #CustomerCount="ngModel"
                                    [(ngModel)]="mainObject.customerCount" required />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Content </label>
                                <textarea class="form-control" type="text" name="Content" size="50" #Content="ngModel"
                                    [(ngModel)]="mainObject.content" required>
                                </textarea>
                            </td>
                        </tr>  
                        <tr>
                            <button class="btn btn-primary" value="Submit">{{mainEdit?"Update":"Submit"
                            }}
                          </button>
                        </tr>                      
                    </table>
                    <!-- <div class="modal-footer">
                        
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
      <div class="card-title mb-4">
        <span class="select-title" style="font-size:xx-large; margin-right:20px"><i class="fa fa-plus-square"></i>Testimonials </span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" style="padding:10px!important;" (click)="AddBtnClick()">
          + Add New Testimonial
        </button>
      </div>

      <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
              class="btn btn-primary">
        Edit Click button
      </button>
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search our testimonial">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="card">
        <!-- Start: Table with List of Services -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Star</th>
              <th scope="col">Testimonial</th>
              <th scope="col">Writer/Customer Name</th>
              <th scope="col">Writer Designation</th>
              <th scope="col">Icon Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of objectList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  }; let i = index;">
              <td style="vertical-align: middle;">{{i+1}}</td>
              <td style="vertical-align: middle;">{{data.star}}</td>
              <td style="vertical-align: middle;"><div class="truncate">{{data.message}}</div></td>
              <td style="vertical-align: middle;"><div class="truncate">{{data.writerName}}</div></td>
              <td style="vertical-align: middle;"><div class="truncate">{{data.writerDesignation}}</div></td>
              <td style="vertical-align: middle;">
                <img [src]="data.imagePath" height="75"
                     style="margin-bottom:10px;">
              </td>
              <td>
                <button (click)="EditData(data.testimonialId)" class="btn btn-primary btn-sm mr-1">
                  <i class="fa fa-pencil"></i> Edit
                </button>
                <a (click)="DeleteData(data.testimonialId)" class="btn btn-danger btn-sm text-white">
                  <i class="fa fa-trash"></i>Delete
                </a>

              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
        <!-- End: Table with List of Services -->
        <!-- Start: Model to Add or Edit Services  -->
        <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">
                  {{EditMode?"Edit":"Add New" }} Testimonial
                </h5>
                <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="background-color:snow;">
                <div class="info-heading">
                  <form #testimonialForm="ngForm" (ngSubmit)="AddTestimonial(testimonialForm)">
                    <table>
                      <tr>
                        <td>
                          <label class="control-label">Star<span class="required-sign">*</span></label>
                          <input class="form-control" type="number" name="Star" size="50" min="1" max="5" #Star="ngModel"
                                 [(ngModel)]="selectedObject.star" required />
                        </td>
                        <td>
                          <label class="control-label">Testimonial Content </label>
                          <textarea class="form-control" type="text" name="Message" size="50" #Message="ngModel"
                                    [(ngModel)]="selectedObject.message" required>
                                                </textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="control-label">Writer/Customer Name </label>
                          <input type="text" name="WriterName" size="50" #WriterName="ngModel" class="form-control"
                                 [(ngModel)]="selectedObject.writerName" required />

                        </td>
                        <td>
                          <label class="control-label">Designation</label>
                          <input type="text" name="WriterDesignation" size="50"
                                 #WriterDesignation="ngModel" class="form-control"
                                 [(ngModel)]="selectedObject.writerDesignation" required />

                        </td>
                      </tr>
                      <tr>
                        <td>
                          <!--<label>Icon Image </label>-->
                          <input type="file" #file placeholder="Choose file"
                                 (change)="upload(file.files)" name="fileName"
                                 [(ngModel)]="ImagePath"
                                 [ngModelOptions]="{standalone: true}" style="display:none;">
                          <button type="button" class="btn btn-primary d-inline"
                                  (click)="file.click()" style="font-size: 14px; margin-top: 25px">
                            <i class="fa fa-upload"></i>Upload
                            Image
                          </button>
                          <div class="col-md-10 d-inline">
                            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                              {{progress}}%
                            </span>
                            <span class="upload" *ngIf="message" style="font-size: 11px;">
                              {{message}}
                            </span>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
                    <div class="modal-footer">
                      <button class="btn btn-primary" value="Submit">
                        {{
EditMode?"Update":"Submit"
                        }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Start: Model to Add or Edit Services -->
      </div>
    </div>
</div>
