<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #testimonialForm="ngForm" (ngSubmit)="AddTestimonial(testimonialForm)">
    <table>
      <tr>
        <td>
          <label class="control-label">Star<span class="required-sign">*</span></label>
          <input class="form-control" type="number" name="Star" size="50" min="1" max="5" #Star="ngModel"
                 [(ngModel)]="selectedObject.star" required />
        </td>
        <td>
          <label class="control-label">Testimonial Content </label>
          <textarea class="form-control" type="text" name="Message" size="50" #Message="ngModel"
                    [(ngModel)]="selectedObject.message" required>
                                                </textarea>
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Writer/Customer Name </label>
          <input type="text" name="WriterName" size="50" #WriterName="ngModel" class="form-control"
                 [(ngModel)]="selectedObject.writerName" required />

        </td>
        <td>
          <label class="control-label">Designation</label>
          <input type="text" name="WriterDesignation" size="50"
                 #WriterDesignation="ngModel" class="form-control"
                 [(ngModel)]="selectedObject.writerDesignation" required />

        </td>
      </tr>
      <tr>
        <td>
          <!--<label>Icon Image </label>-->
          <input type="file" #file placeholder="Choose file"
                 (change)="upload(file.files)" name="fileName"
                 [(ngModel)]="ImagePath"
                 [ngModelOptions]="{standalone: true}" style="display:none;">
          <button type="button" class="btn btn-primary d-inline"
                  (click)="file.click()" style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Image
          </button>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
      </tr>
    </table>
    <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
        {{
EditMode?"Update":"Submit"
        }}
      </button>
    </div>
  </form>
</div>
