<nav id="menu-wrap" class="menu-back cbp-af-header" style="background:white">
  <div class="menu">
    <div class="logo">
      <a routerLink="homepage">
      <img [routerLink]="[ '/', 'homepage' ]" src="../../../assets/images/danphecarelogo.png" alt="logo" style="outline:0"/>
      </a>

    </div>
    <ul>
      <li>
        <a class="curent-page" [routerLink]="[ '/', 'homepage' ]">Home <!--<i class="icon ion-android-arrow-dropdown"></i>--></a>
        <!--
            <ul>
              <li><a class="curent-page" href="#">Homepage1</a></li>
              <li><a href="#">Homepage2</a></li>
              <li><a href="#">Homepage3</a></li>
            </ul>
    -->
      </li>

      <li> <a [routerLink]="[ '/', 'homepage' ]">About <i class="icon ion-android-arrow-dropdown"></i></a>
        <ul>
          <li><a [routerLink]="[ '/', 'aboutpage' ]">About Us</a></li>
          <!--<li><a [routerLink]="[ '/', 'newspage' ]">News Section</a></li>-->
          <li><a [routerLink]="[ '/', 'blogpage' ]">Blogs</a></li>
        </ul>
      </li>
      <!--<li> <a [routerLink]="[ '/', 'servicepage' ]">Our Services <i class="icon ion-android-arrow-dropdown"></i></a>-->

      <!--<li> <a [routerLink]="[ '/', 'aboutpage' ]">About</a></li>-->
      <li class="droppable">
        <a [routerLink]="[ '/', 'servicepage' ]">Our Services <i class="icon ion-android-arrow-dropdown"></i></a>
       
        <div class="mega-menu" style="margin-left:150px;width:50%">
          <div class="container clearfix">
            <div class="row" style="max-width:500px" *ngIf="isservice2 == false">
              <div class="col-md-12">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of service1" (click)="GoToServiceDetails(data.permaLink)">{{data.serviceName}}</a></li>
                </ul>
              </div>
            </div>
            <div class="row" style="max-width:500px" *ngIf="isservice2 == true">
              <div class="col-md-6">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of service1" (click)="GoToServiceDetails(data.permaLink)">{{data.serviceName}}</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of service2" (click)="GoToServiceDetails(data.permaLink)">{{data.serviceName}}</a></li>
                </ul>
              </div>

              <!--<div class="col-md-4" *ngIf="service3 != null">
    <ul class="ul-reset">

      <li><a *ngFor="let data of service3" (click)="GoToServiceDetails(data.serviceId)">{{data.serviceName}}</a></li>
    </ul>
  </div>-->
              <!--<div class="col-md-3" *ngIf="service4 != null">
    <ul class="ul-reset">

      <li><a *ngFor="let data of service4" (click)="GoToServiceDetails(data.serviceId)">{{data.serviceName}}</a></li>
    </ul>
  </div>-->
              <!--<div class="col-md-3" *ngIf="service5 != null">
    <ul class="ul-reset">
      <li><a *ngFor="let data of service5" (click)="GoToServiceDetails(data.serviceId)">{{data.serviceName}}</a></li>
    </ul>
  </div>-->
            </div>
          </div><!-- .container -->
        </div>
      </li>
      <!-- <li>
        <a routerLink="homepage">Department <i class="icon ion-android-arrow-dropdown"></i></a>
        <ul>
          <li *ngFor="let data of departmentList"><a (click)="DepartmentDetails(data.departmentId)">{{data.departmentName}}</a></li>
        </ul>
      </li> -->
      <li class="droppable">
        <a [routerLink]="[ '/', 'departmentdetailslist' ]">Department <i class="icon ion-android-arrow-dropdown"></i></a>
        <div class="mega-menu">
          <div class="container clearfix">
            <div class="row" *ngIf="isdepartment4 == false">
              <div class="col-md-4 ul-reset" *ngIf="department1 != null">
                <ul class="">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department1" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
              <div class="col-md-4" *ngIf="department2 != null">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department2" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
              <div class="col-md-4" *ngIf="department3 != null">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department3" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
            </div>
            <div class="row" *ngIf="isdepartment4 == true">
              <div class="col-md-3 ul-reset" *ngIf="department1 != null">
                <ul class="">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department1" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
              <div class="col-md-3" *ngIf="department2 != null">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department2" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
              <div class="col-md-3" *ngIf="department3 != null">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department3" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
              <div class="col-md-3" *ngIf="department4 != null">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department4" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
              <div class="col-md-3" *ngIf="department5 != null">
                <ul class="ul-reset">
                  <!-- <h3>Heading 1</h3> -->
                  <li class="ul-reset-content"><a *ngFor="let data of department5" (click)="DepartmentDetails(data.permaLink)">{{data.departmentName}}</a></li>
                </ul>
              </div>
            </div>
          </div><!-- .container -->
        </div>
        <!-- <ul>
          <li *ngFor="let data of departmentList"><a (click)="DepartmentDetails(data.departmentId)">{{data.departmentName}}</a></li>
        </ul> -->
      </li>
      <!--<li> <a [routerLink]="[ '/', 'teampage' ]">Team</a></li>-->
      <li> <a [routerLink]="[ '/', 'specialist' ]">Our Specialist</a> </li>

      <!--      <li> <a href="#">Tele Medicine</a> </li>		-->

      <!--<li> <a [routerLink]="[ '/', 'newspage' ]">News</a> </li>-->
      <!--      <li> <a href="#">Tele Medicine</a> </li>		-->
      <!--<li> <a [routerLink]="[ '/', 'blogpage' ]">Blog</a> </li>-->

      <li> <a [routerLink]="[ '/', 'expatpage' ]">Expat</a> </li>
      <li> <a [routerLink]="[ '/', 'contactpage' ]">Contact Us</a> </li>
      <li> <a href="https://tele.danphecare.com" target="_blank" class="btn btn-default bg-white">Telemedicine Service</a> </li>
      <!--<li> <button class="btn btn-primary" (click)="GotoTelemedicine()" style="font-size: 12px; width: 100%;margin: 15px auto; border-radius: 30px; font-weight:bold"> Telemedicine Service </button> </li>-->
    </ul>
  </div>
</nav>
