<div class="wrapper">
 
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Webinar Video
        </span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" (click)="AddBtnClick()">
          + Add Webinar Video
        </button>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
                class="mat-chip mat-primary mat-standard-chip mat-chip-selected">
          Edit Click button
        </button>
      </h1>
     
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search  webinar video">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Title</th>
            <th scope="col">Webinar Url</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of webinarList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  };let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;"><div class="truncate">{{data.title}}</div></td>
            <td style="vertical-align: middle;"> <div [innerHTML]="data.webinarVideo" class="truncate"></div></td>
            <td>
              <button (click)="EditWebinar(data.webinarId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <a (click)="DeleteWebinar(data.webinarId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add" }} New Webinar Video</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #cmsWebinarForm="ngForm" (ngSubmit)="AddCMSWebinar(cmsWebinarForm)">
                  <table>
                    <tr class="3-cols">
                      <td>
                        <label class="control-label">Title <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSWebinar.title" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Webinar Url </label>
                        <textarea class="form-control" name="editor1" [(ngModel)]="selectedCMSWebinar.webinarVideo"></textarea>
                      </td>
                    </tr>

                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start: Model to Add or Edit Services -->
    </div>
  </div>
</div>
