

<section [@fadeInOut] class="d-flex h-75" style="min-height: 500px;">

    <div class="m-auto text-center">
        <h3><i class="fa fa-exclamation-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.NotFound' |
            translate}}</h3>
        <div class="icon-container d-none"><i class='fa fa-exclamation-circle'></i> {{'notFound.404' | translate}}</div>
        <div class="text-muted error-description">{{'notFound.pageNotFound' | translate}}</div>
        <div><a class="btn btn-primary" routerLink="/"><i class='fa fa-home'></i> {{'notFound.backToHome' | translate}}</a></div>
    </div>
</section>
