<div class="wrapper">
  <div class="card">
    <div class="card-body">

      <div class="card-title mb-4">
        <span class="select-title" style="font-size:xx-large; margin-right:20px"><i class="fa fa-plus-square"></i>Package</span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" style="padding:10px!important;" (click)="AddBtnClick()">
          + Add Package
        </button>
      </div>
      <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true" class="mat-chip mat-primary mat-standard-chip mat-chip-selected">Edit Package</button>

      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Packages">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Package Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of packageList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  } ;let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;">{{data.packageName}}</td>
            <td>
              <!--<button (click)="EditPackage(data.packageNameModelId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>-->
              <a (click)="DeletePackage(data.packageNameModelId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add New" }} Package</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #packageForm="ngForm" (ngSubmit)="AddPackage(packageForm)">
                  <table>
                    <tr>
                      <td>
                        <label class="control-label">Package Name <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="packageName" size="50" #packageName="ngModel"
                               [(ngModel)]="selectedPackage.packageName" required />
                      </td>
                    </tr>

                  </table>

                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
