<div class="wrapper">

  <div class="card">
    <div class="card-body">
      <button type="button"
              class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
        Back to list
      </button>
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Package Details
        </span>

      </h1>

      <form #cmsPackageDetailsForm="ngForm" (ngSubmit)="UpdatePackageDetails()">
        <table>

          <tr>
            <td>

              <label class="control-label">Package <span class="required-sign">*</span></label>

              <select [(ngModel)]="selPackage" [ngModelOptions]="{standalone: true}" class="form-control">
                <option disabled>Select Package</option>
                <option *ngFor="let row of filteredPackageList" [ngValue]="row">{{row.packageName}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">Title <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="title" size="50" #Title="ngModel"
                     [(ngModel)]="selectedPackageDetails.Title" required />
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">Content </label>
              <ck-editor name="editor1" [(ngModel)]="selectedPackageDetails.Content"></ck-editor>
            </td>
          </tr>

        </table>
        <div class="modal-footer">
          <button class="btn btn-primary" value="Submit">
            {{
                         EditMode?"Update":"Submit"
            }}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
