
<div class="section page-top">
  <div class="ver-2 text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="justify-content-center hero-text-center">
            <div class="hero-text mt-0"><b>Services</b></div>
            <h4></h4>
          </div>
        </div>
        <div class="col text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="[ '/', 'homepage' ]">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Hero section end-->
<section class="detail-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h1 class="section-title w-100 text-center font-weight-bold">
            Things that we cares
            <!--<p class="d-block font-weight-lighter">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
          </h1>
        </div>
      </div>
      <div class="consult row">
        <!--<div class="col-md-4" *ngFor="let data of servicesList">
          <div class="service-content-item" (click)="GoToServiceDetails(data.serviceId)">
            <div class="item-title">
              <div class="service-content-icon" (click)="GoToServiceDetails(data.serviceId)"> <img [src]="data.iconPath" alt=""> </div>
              <h3><a routerLink="newsdetails" (click)="GoToServiceDetails(data.serviceId)">{{data.serviceName}}</a></h3>
            </div>
            <p [innerHTML]="data.content"></p>
          </div>
        </div>-->
        <div class="col-md-4" *ngFor="let data of servicesList">
          <div class="service-content-item" (click)="GoToServiceDetails(data.permaLink)">
            <div class="">
              <img [src]="data.iconPath" alt="">
              <h3 class="mt-3"><a (click)="GoToServiceDetails(data.permaLink)">{{data.serviceName}}</a></h3>
            </div>
            <p [innerHTML]="data.content"></p>
          </div>
        </div>
        <!--<div class="col-md-4">
    <div class="service-content-item">
      <div class="item-title">
        <div class="service-content-icon"> <img src="img/svg-icon/family.svg" alt=""> </div>
        <h3><a href="#">Lab at home</a></h3>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-content-item">
      <div class="item-title">
        <div class="service-content-icon"> <img src="img/svg-icon/family.svg" alt=""> </div>
        <h3><a href="#">Nurse at home</a></h3>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-content-item">
      <div class="item-title">
        <div class="service-content-icon"> <img src="img/svg-icon/family.svg" alt=""> </div>
        <h3><a href="#">Vaccination at home</a></h3>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-content-item">
      <div class="item-title">
        <div class="service-content-icon"> <img src="img/svg-icon/family.svg" alt=""> </div>
        <h3><a href="#">Family Care</a></h3>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-content-item">
      <div class="item-title">
        <div class="service-content-icon"> <img src="img/svg-icon/family.svg" alt=""> </div>
        <h3><a href="#">Home Care</a></h3>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</p>
    </div>
  </div>-->
      </div>
    </div>
  </div>
</section>

<style>
    /*
    body{
      font-family: 'Quicksand' !important;
    }
  */
    .hero-content-form-wrapper .btn-pay {
      background-color: transparent !important;
      border-radius: 30px;
      display: block;
      width: 100%;
      padding: 15px 15px;
      margin: 15px 0;
      color: #009688 !important;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: inherit;
      text-decoration: underline;
      line-height: 12px;
    }

      .hero-content-form-wrapper .btn-pay:hover, .hero-content-form-wrapper .btn-pay:focus {
        background-color: transparent;
        color: #006e64 !important;
        outline: 0 !important;
        border: none !important;
        -moz-outline-style: none !important;
      }
</style>
