
<section id="hero" *ngIf="services.coverImage == null" style="margin-top:0px !important" class="d-flex align-items-center hero-section2 hero-section-small">
  <div class="container clearfix">
    <div class="row justify-content-between">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1 style="color:white">
          {{services.serviceName}}

        </h1>
        <h2  [style.color]="services.color">
          <b>{{services.shortIntroduction}}</b> 
        </h2>
      </div>
      <div class="col-lg-4 order-1 order-lg-2">
        <div class="tab-wrapper">
          <div class="hero-content-form-wrapper" id="mobile-view">
            <div class="inner-form">
              <div class="top-form-icon d-none">

              </div>
              <h3>Home Visit</h3>
              <form  [formGroup]="reachForm" (ngSubmit)="onSubmitReachUsQuickly()">
                <input type="hidden" name="_token" value="dFMTUSP6dOZ0PpuALrq8dnPteg48GC8F6xzm4R2N">
                <div class="form-group">
                  <label for="name">Name</label>

                  <input type="text" formControlName="name" id="name" placeholder="Enter your name *" [(ngModel)]="DhcareRuq.name"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && NameControl.errors }" />
                  <div *ngIf="NameControl.invalid && (NameControl.dirty || NameControl.touched|| (NameControl.untouched && submitted))" class="alert-sm alert-danger">
                    <div *ngIf="NameControl.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone">Mobile Number</label>
                  <input type="text" formControlName="phonenumber" id="phone" placeholder="Phone Number *" [(ngModel)]="DhcareRuq.phone"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && PhoneNumberControl.errors }" />
                  <div *ngIf="PhoneNumberControl.invalid && (PhoneNumberControl.dirty || PhoneNumberControl.touched) || (PhoneNumberControl.untouched && submitted) " class="alert-sm alert-danger">
                    <div *ngIf="PhoneNumberControl.errors.required">Phone Number is required</div>
                  </div>                  
                </div>
                <div class="form-group">
                  <label for="city">Service Needed in?</label>
                  <select [(ngModel)]="selServices" [ngModelOptions]="{standalone: true}" class="form-control">
                    <option *ngFor="let row of filteredPage">{{row.title}}</option>
                  </select>
                 
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit">
                        <span *ngIf="loading" class="spinner-border" role="status">Sending ...</span>
                        <span *ngIf="!loading"><i class="material-icons mdi mdi-message-outline"></i> Book Service</span>
                      </button>
                      <!--<button type="submit" class="btn btn-primary"><strong>Book Service</strong></button>-->
                    </div>
                  </div>
                </div>
                <input type="hidden" name="recaptcha" id="recaptcha" value="03AGdBq24kLGCaHkHkIummiIdgzw38VxQhZRUs7Wq9LQDDe-ZKBetFsJbXpGB-GaBVGXqoaqymEjRVFgopXRxY0EnlRQkp6hFrM-sbhA4ffx8MfBQGzb7nV9YXTXwFsZ3SNUX3s9AlRdf3z3u1JfZRqk5TAR5JJfUSo6-cW_zf-E3xiQd_MpKHMn4h-5gDh8lynMSTBElqWeWmmucX-0mCmS2V_g2UyBGcUN5Dg-TYBtn-b2hIitHYofM9uEyhbAXVy75pLlDzuv1vUZFGfhFojknf5AE1PnssPr_LLoqJUHB8ysutzWnioOQp4J5M3LH_O3x1iqpyPYTLW4Uwj-v7RULL72-RX1_RWXODNy5BHNKwGMYl42M4Lhad7n9wf45PRYNWHTb7JZSvxHTbekV0-CVnLn4vDo9WheRqHQCio4UwGsfaxuMeORfdZoxcZ_gXMOfCFziSdijGjxGve6z2ebi-_MqVCog1HPngFLWiaj4z0L9Z11PjAr2TkREslwp-gzJcBlfKy3jC">


              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="hero" style="margin-top:0px !important"  *ngIf="services.coverImage !== null " class="d-flex align-items-center  hero-section-small" [ngStyle]="{'background-image':'url(' + services.coverImage + ')','position':'relative', 'background-size':'cover','min-height':'100vh'}">
  <div class="container clearfix">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1>
          {{services.serviceName}}

        </h1>
        <h2  [style.color]="services.color">
          {{services.shortIntroduction}}
        </h2>

      </div>
      <div class="col-lg-4 offset-lg-2 order-1 order-lg-2">
        <div class="tab-wrapper">
          <div class="hero-content-form-wrapper" id="mobile-view">
            <div class="inner-form">
              <div class="top-form-icon d-none">

              </div>
              <h3>Home Visit</h3>
              <form [formGroup]="reachForm" (ngSubmit)="onSubmitReachUsQuickly()">
                <input type="hidden" name="_token" value="dFMTUSP6dOZ0PpuALrq8dnPteg48GC8F6xzm4R2N">
                <div class="form-group">
                  <label for="name">Name</label>

                  <input type="text" formControlName="name" id="name" placeholder="Enter your name *" [(ngModel)]="DhcareRuq.name"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && NameControl.errors }" />
                  <div *ngIf="NameControl.invalid && (NameControl.dirty || NameControl.touched|| (NameControl.untouched && submitted))" class="alert-sm alert-danger">
                    <div *ngIf="NameControl.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone">Mobile Number</label>
                  <input type="text" formControlName="phonenumber" id="phone" placeholder="Phone Number *" [(ngModel)]="DhcareRuq.phone"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && PhoneNumberControl.errors }" />
                  <div *ngIf="PhoneNumberControl.invalid && (PhoneNumberControl.dirty || PhoneNumberControl.touched) || (PhoneNumberControl.untouched && submitted) " class="alert-sm alert-danger">
                    <div *ngIf="PhoneNumberControl.errors.required">Phone Number is required</div>
                    <div *ngIf="PhoneNumberControl.errors.pattern">Phone number should be 10 digits</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="city">Service Needed in?</label>
                  <select [(ngModel)]="selServices" [ngModelOptions]="{standalone: true}" class="form-control">
                    <option *ngFor="let row of filteredPage">{{row.title}}</option>
                  </select>
                  <!--<select class="form-control" name="city" id="city">
      <option selected>Service Needed in?</option>
      <option value="1">Kathmandu Services</option>
      <option value="2">Lalitpur Services</option>

    </select>-->

                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit">
                        <span *ngIf="loading" class="spinner-border" role="status">Sending ...</span>
                        <span *ngIf="!loading"><i class="material-icons mdi mdi-message-outline"></i> Book Service</span>
                      </button>
                      <!--<button type="submit" class="btn btn-primary"><strong>Book Service</strong></button>-->
                    </div>
                  </div>
                </div>
                <input type="hidden" name="recaptcha" id="recaptcha" value="03AGdBq24kLGCaHkHkIummiIdgzw38VxQhZRUs7Wq9LQDDe-ZKBetFsJbXpGB-GaBVGXqoaqymEjRVFgopXRxY0EnlRQkp6hFrM-sbhA4ffx8MfBQGzb7nV9YXTXwFsZ3SNUX3s9AlRdf3z3u1JfZRqk5TAR5JJfUSo6-cW_zf-E3xiQd_MpKHMn4h-5gDh8lynMSTBElqWeWmmucX-0mCmS2V_g2UyBGcUN5Dg-TYBtn-b2hIitHYofM9uEyhbAXVy75pLlDzuv1vUZFGfhFojknf5AE1PnssPr_LLoqJUHB8ysutzWnioOQp4J5M3LH_O3x1iqpyPYTLW4Uwj-v7RULL72-RX1_RWXODNy5BHNKwGMYl42M4Lhad7n9wf45PRYNWHTb7JZSvxHTbekV0-CVnLn4vDo9WheRqHQCio4UwGsfaxuMeORfdZoxcZ_gXMOfCFziSdijGjxGve6z2ebi-_MqVCog1HPngFLWiaj4z0L9Z11PjAr2TkREslwp-gzJcBlfKy3jC">


              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Hero section end-->
<!--	About Section Start-->
<section class="emmergency  section-bg" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="emmergency-image"> <img [src]="services.imagePath" alt=""> </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="emmergency-info">
          <h1 class="section-title text-left mb-0 pb-0">  {{services.serviceName}}</h1>
          <h1 class="section-title-main"> <span class="d-block text-primary mb-1" style="font-size: 18px;"><strong></strong></span> </h1>
          <p [innerHTML]="services.content"></p>
          <!--<p>We are a highly innovative company which is committed for your health and wellbeing.  We bring our expertise in healthcare and technology to provide excellent care for you and your family. Our team has specialists from all around the world, mostly from Nepal and the United States of America. Our goal is to make a safe and high quality healthcare readily accessible to our patients at a reasonable cost.</p>
          <p>We believe that everyone deserves excellent health care. Our dedicated team of doctors, nurses and other health professionals provide compassionate care with a personal touch. Our practice is guided by evidence based medicine, which is customized for your care. We also have world class technology to provide you the best care possible.</p>-->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- End Team Section -->

<section class="about-section2">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <div class="text-left">
          <h2 class="section-heading text-left mb-2">{{services.subscriptionPlan}}</h2>
          <!--<h5><b>GET TESTS PER YEAR</b></h5>-->
        </div>
        <div [innerHTML]="services.subscriptionContent"></div>
        <!--<ul class="mt-4">
          <li><i class="fa fa-check-circle"></i>Liver Annual Subscription ( 7 parameters)</li>
          <li><i class="fa fa-check-circle"></i>Kidney Annual Subscription ( 9 parameters)</li>
          <li><i class="fa fa-check-circle"></i>Diabetic Annual Subscription ( 2 parameters)</li>
        </ul>-->
      </div>
      <div class="col-lg-6">
        <div class="about-image"> <img [src]="services.subscriptionImage" alt=""> </div>
      </div>
    </div>
  </div>
</section>

<style>
  /*
      body{
        font-family: 'Quicksand' !important;
      }
    */
  .hero-content-form-wrapper .btn-pay {
    background-color: transparent !important;
    border-radius: 30px;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin: 15px 0;
    color: #009688 !important;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: inherit;
    text-decoration: underline;
    line-height: 12px;
  }

    .hero-content-form-wrapper .btn-pay:hover, .hero-content-form-wrapper .btn-pay:focus {
      background-color: transparent;
      color: #006e64 !important;
      outline: 0 !important;
      border: none !important;
      -moz-outline-style: none !important;
    }

  .nice-select {
    display: none;
  }

  select.form-control {
    display: block !important;
  }
</style>
