<div class="wrapper">
  <div class="card">
    <div class="card-body">
      <div class="card-title mb-4">
        <span class="select-title" style="font-size:xx-large; margin-right:20px">
          <i class="fa fa-plus-square"></i>Our
          Services Page
        </span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" style="padding:10px!important;"
                (click)="AddBtnClick()">
          + Add New Service
        </button>
      </div>
      <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
              class="mat-chip mat-primary mat-standard-chip mat-chip-selected">
        Edit Click button
      </button>
      <!-- Start: Table with List of Services -->

      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search our services">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <!--<th scope="col">Department Name</th>-->
            <th scope="col">Service Name</th>
            <!--<th scope="col">Content</th>-->
            <th scope="col">Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ourServicesList| filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  } ;let i = index ;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <!--<td style="vertical-align: middle;">{{data.departmentName}}</td>-->
            <td style="vertical-align: middle;">{{data.serviceName}}</td>
            <!--<td style="vertical-align: middle;">{{data.content}}</td>-->
            <td style="vertical-align: middle;"><img [src]="data.imagePath" height="75" style="margin-bottom:10px;"></td>
            <td>
              <button (click)="EditService(data.serviceId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>

              <a (click)="DeleteService(data.serviceId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
      <!-- End: Table with List of Services -->
      <!-- Start: Model to Add or Edit Services  -->
      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit New":"Add" }} Service</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #ourServiceForm="ngForm" (ngSubmit)="AddOurService(ourServiceForm)">
                  <table>
                    <!--<tr>
    <td>

      <label class="control-label">Department <span class="required-sign">*</span></label>

      <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
        <option disabled>Select Department</option>
        <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
      </select>
    </td>
  </tr>-->
                    <tr>
                      <td>
                        <label class="control-label">Title <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                               [(ngModel)]="selectedOurServices.serviceName" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Short Intro:</label>
                        <textarea class="form-control" type="text" name="ShortIntro" size="50" [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="selectedOurServices.shortIntroduction"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Color(Short Intro)</label>
                        <input class="form-control" type="text" name="color" size="50" [ngModelOptions]="{standalone: true}"
                               [(ngModel)]="selectedOurServices.color" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Permalink</label>
                        <input class="form-control" type="text" name="permalink" size="50" [ngModelOptions]="{standalone: true}"
                               [(ngModel)]="selectedOurServices.permaLink" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Content </label>
                        <!--<ngx-ckeditor [(ngModel)]="selectedOurServices.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                        <ck-editor name="editor1" [(ngModel)]="selectedOurServices.content"></ck-editor>

                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!--<label>Icon Image </label>-->
                        <input type="file" #file1 placeholder="Choose file" (change)="upload(file1.files,0)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Icon
                        </button>
                        <div class="row">
                          Dimension (50*50 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- [(ngModel)]="selectedOurServices.ImagePath" [ngModelOptions]="{standalone: true}" -->
                        <!--<label>Service Details Image </label>-->
                        <input type="file" #file2 placeholder="Choose file" (change)="upload(file2.files,1)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file2.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload Details
                          Image
                        </button>
                        <div class="row">
                          Dimension (350*350 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>
                    <tr>
                      <td>

                        <input type="file" #file4 placeholder="Choose file" (change)="upload(file4.files,4)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file4.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload Cover
                          Image
                        </button>
                        <div class="row">
                          Dimension (350*350 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress4 > 0" style="font-size: 11px;">
                            {{progress4}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL4" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Subscription Plan </label>
                        <textarea class="form-control" type="text" name="Title" size="50"
                                  [(ngModel)]="selectedOurServices.subscriptionPlan"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Subscription Content </label>
                        <!--<ngx-ckeditor [(ngModel)]="selectedOurServices.subscriptionContent" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                        <ck-editor name="editor2" [(ngModel)]="selectedOurServices.subscriptionContent"></ck-editor>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- [(ngModel)]="selectedOurServices.SubscriptionImage" [ngModelOptions]="{standalone: true}" -->
                        <!--<label>Subscription Image </label>-->
                        <input type="file" #file3 placeholder="Choose file" (change)="upload(file3.files,2)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file3.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Subscription Image
                        </button>
                        <div class="row">
                          Dimension (540*408 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress2 > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL2" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>
                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start: Model to Add or Edit Services -->
    </div>
  </div>
</div>
