<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #ourServiceForm="ngForm" (ngSubmit)="UpdateService()">
    <table>
      <!--<tr>
        <td>

          <label class="control-label">Department <span class="required-sign">*</span></label>

          <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
            <option disabled>Select Department</option>
            <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
          </select>
        </td>
      </tr>-->
      <tr>
        <td>
          <label class="control-label">Title <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                 [(ngModel)]="selectedOurServices.serviceName" required />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Short Intro:</label>
          <textarea class="form-control" type="text" name="ShortIntro" size="50" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedOurServices.shortIntroduction"></textarea>
        </td>
      </tr>
      <!--<tr>
        <td>
          <label class="control-label">Color(Short Intro)</label>
          <input class="form-control" type="text" name="color" size="50" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="selectedOurServices.color" />
        </td>
      </tr>-->
      <tr>
        <td>
          <label class="control-label">Permalink</label>
          <input class="form-control" type="text" name="permalink" size="50" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="selectedOurServices.permaLink" />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Content </label>
          <!--<ngx-ckeditor [(ngModel)]="selectedOurServices.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
          <ck-editor name="editor1" [(ngModel)]="selectedOurServices.content" skin="moono-lisa"
                     language="en" [fullPage]="true"></ck-editor>

        </td>
      </tr>
      <tr>
        <td>
          <!--<label>Icon Image </label>-->
          <input type="file" #file1 placeholder="Choose file" (change)="upload(file1.files,0)"
                 name="fileName" style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Image
          </button>
          <div class="row">
            Dimension (50*50 pixels)
          </div>

          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
        <td>
          <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
        </td>
      </tr>
      <!--<tr>
        <td>
      
          <input type="file" #file2 placeholder="Choose file" (change)="upload(file2.files,1)"
                 name="fileName" style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file2.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload Details
            Image
          </button>
          <div class="row">
            Dimension (350*350 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
        <td>
          <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
        </td>
      </tr>-->
      <!--<tr>
        <td>

          <input type="file" #file4 placeholder="Choose file" (change)="upload(file4.files,4)"
                 name="fileName" style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file4.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload Cover
            Image
          </button>
          <div class="row">
            Dimension (350*350 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress4 > 0" style="font-size: 11px;">
              {{progress4}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
        <td>
          <img [src]="previewImgURL4" height="200" style="margin-bottom:50px;">
        </td>
      </tr>-->

      <!--<tr>
        <td>
          <label class="control-label">Subscription Plan </label>
          <input class="form-control" type="text" name="Title" size="50"
                 [(ngModel)]="selectedOurServices.subscriptionPlan" />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Subscription Content </label>
      
          <ck-editor name="editor1" [(ngModel)]="selectedOurServices.subscriptionContent"></ck-editor>
        </td>
      </tr>-->
      <!--<tr>
        <td>
       
          <input type="file" #file3 placeholder="Choose file" (change)="upload(file3.files,2)"
                 name="fileName" style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file3.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Subscription Image
          </button>
          <div class="row">
            Dimension (540*408 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress2 > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
        <td>
          <img [src]="previewImgURL2" height="200" style="margin-bottom:50px;">
        </td>
      </tr>-->
    </table>
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
        {{
EditMode?"Update":"Submit"
        }}
      </button>
    </div>
  </form>
</div>
