<div class="wrapper">

  <div class="card">
    <div class="card-body">

      <button type="button"
              class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
        Back to list
      </button>
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Department
        </span>

      </h1>



      <form #cmsdepartmentForm="ngForm" (ngSubmit)="UpdateDepartment()">
        <table>
          <tr>
            <td>
              <label class="control-label">Department Name <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="DepartmentName" size="50" #DepartmentName="ngModel"
                     [(ngModel)]="selectedDepartment.departmentName" required />
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">Title <span class="required-sign">*</span></label>
              <textarea class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                        [(ngModel)]="selectedDepartment.title" required></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">Permalink <span class="required-sign">*</span></label>
              <input class="form-control" type="text" name="permalink" size="50" #Permalink="ngModel"
                     [(ngModel)]="selectedDepartment.permaLink" required />
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">Introduction <span class="required-sign">*</span></label>
              <ck-editor name="editor1" [(ngModel)]="selectedDepartment.introduction"></ck-editor>
            </td>
          </tr>
          <tr>
            <td>

              <input type="file" #file1 placeholder="Choose file" [(ngModel)]="IconPath" [ngModelOptions]="{standalone: true}" (change)="upload(file1.files,0)"
                     name="fileName" style="display:none;">
              <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                      style="font-size: 14px; margin-top: 25px">
                <i class="fa fa-upload"></i>Upload
                Icon
              </button>
              <div class="row">
                Dimension (55*55 pixels)
              </div>
              <div class="col-md-10 d-inline">
                <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                  {{progress}}%
                </span>
                <span class="upload" *ngIf="message" style="font-size: 11px;">
                  {{message}}
                </span>
              </div>
            </td>
            <td>
              <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
            </td>
          </tr>

          <tr>
            <td>

              <input type="file" #file2 placeholder="Choose file" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}" (change)="upload(file2.files,1)"
                     name="fileName" style="display:none;">
              <button type="button" class="btn btn-primary d-inline" (click)="file2.click()"
                      style="font-size: 14px; margin-top: 25px">
                <i class="fa fa-upload"></i>Upload
                Photo
              </button>
              <div class="row">
                Dimension (524*350 pixels)
              </div>
              <div class="col-md-10 d-inline">
                <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
                  {{progress1}}%
                </span>
                <span class="upload" *ngIf="message" style="font-size: 11px;">
                  {{message}}
                </span>
              </div>
            </td>
            <td>
              <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
            </td>
          </tr>
        </table>

        <div class="modal-footer">
          <button class="btn btn-primary" value="Submit">
            {{
                         EditMode?"Update":"Submit"
            }}
          </button>
        </div>
      </form>


      <!-- Start: Model to Add or Edit Services -->
    </div>
  </div>
</div>
