<div class="wrapper">
 
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Department
        </span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" (click)="AddBtnClick()" style="margin-bottom:20px">
          + Add Department
        </button>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
                class="mat-chip mat-primary mat-standard-chip mat-chip-selected">
          Edit Click button
        </button>
      </h1>
     
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search department">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Department Name</th>
            <th scope="col">Icon</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of departmentList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  };let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;">{{data.departmentName}}</td>
            <td style="vertical-align: middle;"><img [src]="data.iconPath" height="75" style="margin-bottom:10px;"></td>
            <td>
              <button (click)="EditDepartment(data.departmentId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <a (click)="DeleteDepartment(data.departmentId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add" }} New Department</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #cmsdepartmentForm="ngForm" (ngSubmit)="AddCMSDepartment(cmsdepartmentForm)">
                  <table>
                    <tr>
                      <td>
                        <label class="control-label">Department Name <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="DepartmentName" size="50" #DepartmentName="ngModel"
                               [(ngModel)]="selectedDepartment.departmentName" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Title <span class="required-sign">*</span></label>
                        <textarea class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                                  [(ngModel)]="selectedDepartment.title" required></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Permalink <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="permalink" size="50" #Permalink="ngModel"
                               [(ngModel)]="selectedDepartment.permaLink" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Introduction <span class="required-sign">*</span></label>
                        <ck-editor name="editor1" [(ngModel)]="selectedDepartment.introduction"></ck-editor>
                      </td>
                    </tr>
                    <tr>
                      <td>

                        <input type="file" #file1 placeholder="Choose file" [(ngModel)]="IconPath" [ngModelOptions]="{standalone: true}" (change)="upload(file1.files,0)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Icon
                        </button>
                        <div class="row">
                          Dimension (55*55 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>

                    <tr>
                      <td>

                        <input type="file" #file2 placeholder="Choose file" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}" (change)="upload(file2.files,1)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file2.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Photo
                        </button>
                        <div class="row">
                          Dimension (524*350 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
                            {{progress1}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>
                  </table>
        
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start: Model to Add or Edit Services -->
    </div>
  </div>
</div>
