<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #cmsConsultationForm="ngForm" (ngSubmit)="AddTabContent()">
    <table>
      <tr class="3-cols">
        <td>
          <!--<mat-form-field class="mat-form-field-fluid select-input" appearance="outline" style="width: 100%;">
            <mat-select placeholder="Select Department" [(ngModel)]="selDepartment">
              <mat-option *ngFor="let row of filteredDepartmentList" [value]="row.DepartmentId">
                {{row.DepartmentName}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
          <label class="control-label">Department<span class="required-sign">*</span></label>

          <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
            <option disabled>Select Department</option>
            <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>

          <label class="control-label">Tab Name <span class="required-sign">*</span></label>

          <select [(ngModel)]="selTab" [ngModelOptions]="{standalone: true}" class="form-control">
            <option disabled>Select Department Tab</option>
            <option *ngFor="let row of filteredTabList" [ngValue]="row">{{row.tabName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Title <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="Title" size="50"
                 [(ngModel)]="selectedCMSDepTabContent.title" />
        </td>
      </tr>
      <tr >
        <td>
          <label class="control-label">Content <span class="required-sign">*</span></label>
          <ck-editor name="editor1" [(ngModel)]="selectedCMSDepTabContent.content"></ck-editor>
          <!--<ngx-ckeditor [(ngModel)]="selectedCMSDepTabContent.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
        </td>
      </tr>
    </table>
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
       Submit
      </button>
    </div>
  </form>
</div>
