<div class="wrapper">
 
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Department Tab Content
        </span>
        <button type="button"
                class="btn btn-primary pull-right" (click)="AddBtnClick()" style="margin-bottom:20px">
          + Add Department Tab Content
        </button>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
                class="btn btn-primary">
          Edit Click button
        </button>
      </h1>
    
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search department tab content">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Title</th>
            <!--<th scope="col">Content</th>-->
            <th scope="col">Department Name</th>
            <th scope="col">Tab Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tabContentList| filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  };let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;">{{data.title}}</td>
            <!--<td style="vertical-align: middle;">{{data.content}}</td>-->
            <td style="vertical-align: middle;">{{data.departmentName}}</td>
            <td style="vertical-align: middle;">{{data.departmentTabName}}</td>
            <td>
              <button (click)="EditTabContent(data.departmentContentId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <a (click)="DeleteTabContent(data.departmentContentId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add" }} New Tab Content</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #cmsConsultationForm="ngForm" (ngSubmit)="AddTabContent()">
                  <table>
                    <tr>
                      <td>
                        <!--<mat-form-field class="mat-form-field-fluid select-input" appearance="outline" style="width: 100%;">
                      <mat-select placeholder="Select Department" [(ngModel)]="selDepartment">
                        <mat-option *ngFor="let row of filteredDepartmentList" [value]="row.DepartmentId">
                          {{row.DepartmentName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>-->
                        <label class="control-label">Department <span class="required-sign">*</span></label>

                        <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Department</option>
                          <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>

                        <label class="control-label">Tab Name <span class="required-sign">*</span></label>

                        <select [(ngModel)]="selTab" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Department Tab</option>
                          <option *ngFor="let row of filteredTabList" [ngValue]="row">{{row.tabName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Title <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Title" size="50"
                               [(ngModel)]="selectedCMSDepTabContent.title" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Content <span class="required-sign">*</span></label>
                        <ck-editor name="editor1" [(ngModel)]="selectedCMSDepTabContent.content"></ck-editor>
                        <!--<ngx-ckeditor [(ngModel)]="selectedCMSDepTabContent.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                      </td>
                    </tr>
                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
