<div class="wrapper">

  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Sub Services
        </span>
        <button type="button"
                class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
          Back to list
        </button>
      </h1>

                <form #cmsSubServicesForm="ngForm" (ngSubmit)="AddCMSSubServices(cmsSubServicesForm)">
                  <table>
                    <tr>
                      <td>

                        <label class="control-label">Services <span class="required-sign">*</span></label>

                        <select [(ngModel)]="selServices" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Services</option>
                          <option *ngFor="let row of filteredServicesList" [ngValue]="row">{{row.serviceName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Title <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="title" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSSubServices.title" required />
                      </td>
                    </tr>
                   
                    <tr>
                      <td>
                       
                        <input type="file" #file1 placeholder="Choose file" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}" (change)="upload(file1.files,0)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Photo
                        </button>
                        <div class="row">
                          Dimension (94*94 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>
                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>

    </div>
  </div>
</div>
