<div class="wrapper">    
    <div class="card">
      <div class="card-body">

        <div class="card-title mb-4">
          <span class="select-title" style="font-size:xx-large; margin-right:20px"><i class="fa fa-plus-square"></i>Our Team Page</span>
          <button type="button" data-toggle="modal" data-target="#target"
                  class="btn btn-primary pull-right" style="padding:10px!important;" (click)="AddBtnClick()">
            + Add Team Member
          </button>
        </div>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true" class="mat-chip mat-primary mat-standard-chip mat-chip-selected">Edit Click button</button>

        <div class="input-group">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search our services">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- Start: Table with List of Services -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Profile Picture</th>
              <th scope="col">Display Order</th>
              <!-- <th scope="col">Designation</th> -->
              <th scope="col">Name</th>
              <th scope="col">Department</th>
              <!-- <th scope="col">Short Description</th> -->
              <th scope="col">Is Core Team</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ourTeamMemberList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  } ;let i = index;">
              <td style="vertical-align: middle;">{{i+1}}</td>
              <td style="vertical-align: middle;"><img [src]="data.imagePath" height="75" style="margin-bottom:10px;"></td>
               <td style="vertical-align: middle;">{{data.sorting}}</td> 
              <td style="vertical-align: middle;"><div class="truncate">{{data.fullName}}</div></td>
              <td style="vertical-align: middle;"><div class="truncate">{{data.department}}</div></td>
              <!-- <td style="vertical-align: middle;">{{data.shortDescription}}</td>                                     -->
              
              <td style="vertical-align: middle;">{{data.isCoreTeam?"Yes":"No"}}</td>
              <td>
                <button (click)="EditData(data.teamMemberId)" class="btn btn-primary btn-sm mr-1">
                  <i class="fa fa-pencil"></i> Edit
                </button>
                <a (click)="DeleteOurTeamMember(data.teamMemberId)" class="btn btn-danger btn-sm text-white">
                  <i class="fa fa-trash"></i>Delete
                </a>

              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
        <!-- End: Table with List of Services -->
        <!-- Start: Model to Add or Edit Services  -->
        <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add New" }} Team Member</h5>
                <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="background-color:snow;">
                <div class="info-heading">
                  <form #ourTeamMemberForm="ngForm" (ngSubmit)="AddOurTeamMember(ourTeamMemberForm)">
                    <table>
                      <tr>
                        <td>
                          <label class="control-label">Designation <span class="required-sign">*</span></label>
                          <input class="form-control" type="text" name="Designation" size="50" #Designation="ngModel"
                                 [(ngModel)]="selectedTeamMember.designation" required />
                        </td>
                        <td>
                          <label class="control-label">Full Name <span class="required-sign">*</span></label>
                          <input class="form-control" type="text" name="FullName" size="50" #FullName="ngModel"
                                 [(ngModel)]="selectedTeamMember.fullName" required />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="control-label">Department </label>
                          <textarea class="form-control" type="text" name="Department" size="50" #Department="ngModel"
                                    [(ngModel)]="selectedTeamMember.department" required>
                                                </textarea>
                        </td>
                        <td>
                          <label class="control-label">Short Description</label>
                          <textarea class="form-control" type="text" name="ShortDescription" size="50" #ShortDescription="ngModel"
                                    [(ngModel)]="selectedTeamMember.shortDescription" required>
                                                </textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>

                          <label class="control-label">Team Sorting</label>

                          <select [(ngModel)]="selSorting" [ngModelOptions]="{standalone: true}" class="form-control">
                            <option disabled>Select Sorting</option>
                            <option *ngFor="let row of filteredList" [ngValue]="row.value">{{row.value}}</option>
                          </select>
                        </td>
                        </tr>
                      <tr>
                        <td>
                          <label for="IsActive" class="control-label">Disable Sorting</label>
                          <p class="IsActive-checkbox">
                            <input [(ngModel)]="selectedTeamMember.disableSorting" type="checkbox" name="IsActive" id="IsActive"
                                   [ngModelOptions]="{standalone: true}">

                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="control-label">Content </label>
                          <!--<ngx-ckeditor [(ngModel)]="selectedCMSBlogs.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                          <ck-editor name="editor1" [(ngModel)]="selectedTeamMember.content" [ngModelOptions]="{standalone: true}"></ck-editor>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="IsActive" class="control-label">Is Core Team Member</label>
                          <p class="IsActive-checkbox">
                            <input [(ngModel)]="selectedTeamMember.isCoreTeam" type="checkbox" name="IsActive" id="IsActive"
                                   [ngModelOptions]="{standalone: true}">

                          </p>
                        </td>
                        </tr>
                      <tr>
                        <td>
                          <!--<label class="control-label">Profile Image </label>-->
                          <input type="file" #file placeholder="Choose file" (change)="upload(file.files,0)"
                                 name="fileName" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}"
                                 style="display:none;">
                          <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                                  style="font-size: 14px; margin-top: 25px">
                            <i class="fa fa-upload"></i>Upload
                            Profile Image
                          </button>
                          <div class="row">
                            Dimension (94*94 pixels)
                          </div>
                          <div class="col-md-10 d-inline">
                            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                              {{progress}}%
                            </span>
                            <span class="upload" *ngIf="message" style="font-size: 11px;">
                              {{message}}
                            </span>
                          </div>
                        </td>
                        <td>
                          <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <!--[(ngModel)]="selectedOurServices.SubscriptionImage" [ngModelOptions]="{standalone: true}" -->
                          <!--<label>Cover Photo </label>-->
                          <input type="file" #file1 placeholder="Choose file" [(ngModel)]="CoverPhoto" [ngModelOptions]="{standalone: true}" (change)="upload(file1.files,1)"
                                 name="fileName" style="display:none;">
                          <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                                  style="font-size: 14px; margin-top: 25px">
                            <i class="fa fa-upload"></i>Upload
                            Cover Photo
                          </button>
                          <div class="row">
                            Dimension (1519*330 pixels)
                          </div>
                          <div class="col-md-10 d-inline">
                            <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
                              {{progress1}}%
                            </span>
                            <span class="upload" *ngIf="message" style="font-size: 11px;">
                              {{message}}
                            </span>
                          </div>
                        </td>
                        <td>
                          <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
                        </td>
                      </tr>
                    </table>
                   
                    <div class="modal-footer">
                      <button class="btn btn-primary" value="Submit">
                        {{
EditMode?"Update":"Submit"
                        }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Start: Model to Add or Edit Services -->
      </div>
    </div>
</div>
