<div class="wrapper">

  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Doctors
        </span>
        <button type="button"
                class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
          Back to list
        </button>
      </h1>

                <form #cmsDoctorForm="ngForm" (ngSubmit)="AddCMSDoctors(cmsDoctorForm)">
                  <table>
                    <tr>
                      <td>
                        <label class="control-label">Full Name <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="FullName" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSDoctor.fullName" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Designation <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Designation" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSDoctor.designation" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Experience <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Experience" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSDoctor.experience" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Permalink <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="permalink" size="50" #Permalink="ngModel"
                               [(ngModel)]="selectedCMSDoctor.permaLink" required />
                      </td>
                    </tr>
                    <!--<tr>
                      <td>

                        <label class="control-label">Department <span class="required-sign">*</span></label>

                        <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Department</option>
                          <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
                        </select>
                      </td>
                    </tr>-->
                    <tr>
                      <td>

                        <label class="control-label">Doctor Sorting</label>

                        <select [(ngModel)]="selSorting" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Sorting</option>
                          <option *ngFor="let row of filteredList" [ngValue]="row.value">{{row.value}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="IsActive" class="control-label">Disable Sorting</label>
                        <p class="IsActive-checkbox">
                          <input [(ngModel)]="selectedCMSDoctor.disableSorting" type="checkbox" name="IsActive" id="IsActive"
                                 [ngModelOptions]="{standalone: true}">

                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Content </label>
                        <!--<ngx-ckeditor [(ngModel)]="selectedCMSBlogs.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                        <ck-editor name="editor1" [(ngModel)]="selectedCMSDoctor.content"></ck-editor>
                      </td>
                    </tr>



                    <tr>
                      <td>
                        <!-- [(ngModel)]="selectedOurServices.ImagePath" [ngModelOptions]="{standalone: true}" -->
                        <!--<label>Photo </label>-->
                        <input type="file" #file1 placeholder="Choose file" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}" (change)="upload(file1.files,0)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Photo
                        </button>
                        <div class="row">
                          Dimension (94*94 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>

                    <!--<tr>
                      <td>
                     
                        <input type="file" #file2 placeholder="Choose file" [(ngModel)]="CoverPhoto" [ngModelOptions]="{standalone: true}" (change)="upload(file2.files,1)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file2.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Cover Photo
                        </button>
                        <div class="row">
                          Dimension (1519*207 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
                            {{progress1}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL2" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>-->
                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>

    </div>
  </div>
</div>
