<div class="wrapper">
 
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Doctors
        </span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" (click)="AddBtnClick()" style="margin-bottom:20px">
          + Add Doctor
        </button>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
                class="mat-chip mat-primary mat-standard-chip mat-chip-selected">
          Edit Click button
        </button>
      </h1>
      
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search doctor">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Full Name</th>
            <th scope="col">Designation</th>
            <!--<th scope="col">Experience</th>-->
            <!--<th scope="col">Department Name</th>-->
            <th scope="col">Display Order</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of doctorList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  };let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;">{{data.fullName}}</td>
            <td style="vertical-align: middle;">{{data.designation}}</td>
            <!--<td style="vertical-align: middle;">{{data.experience}}</td>-->
            <!--<td style="vertical-align: middle;">{{data.departmentName}}</td>-->
            <td style="vertical-align: middle;">{{data.sorting}}</td>
            <td style="vertical-align: middle;"><img [src]="data.imagePath" height="75" style="margin-bottom:10px;"></td>
            <td>
              <button (click)="EditDoctor(data.doctorId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <a (click)="DeleteDoctor(data.doctorId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>

      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add" }} New Doctor</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #cmsDoctorForm="ngForm" (ngSubmit)="AddCMSDoctors(cmsDoctorForm)">
                  <table>
                    <tr>
                      <td>
                        <label class="control-label">Full Name <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="FullName" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSDoctor.fullName" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Designation <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Designation" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSDoctor.designation" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Experience <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Experience" size="50" #Title="ngModel"
                               [(ngModel)]="selectedCMSDoctor.experience" required />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Permalink <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="permalink" size="50" #Permalink="ngModel"
                               [(ngModel)]="selectedCMSDoctor.permaLink" required />
                      </td>
                    </tr>
                    <!--<tr>
                      <td>

                        <label class="control-label">Department <span class="required-sign">*</span></label>

                        <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Department</option>
                          <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
                        </select>
                      </td>
                    </tr>-->
                    <tr>
                      <td>

                        <label class="control-label">Doctor Sorting</label>

                        <select [(ngModel)]="selSorting" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Sorting</option>
                          <option *ngFor="let row of filteredList" [ngValue]="row.value">{{row.value}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="IsActive" class="control-label">Disable Sorting</label>
                        <p class="IsActive-checkbox">
                          <input [(ngModel)]="selectedCMSDoctor.disableSorting" type="checkbox" name="IsActive" id="IsActive"
                                 [ngModelOptions]="{standalone: true}">

                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Content </label>
                        <!--<ngx-ckeditor [(ngModel)]="selectedCMSBlogs.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                        <ck-editor name="editor1" [(ngModel)]="selectedCMSDoctor.content"></ck-editor>
                      </td>
                    </tr>



                    <tr>
                      <td>
                        <!-- [(ngModel)]="selectedOurServices.ImagePath" [ngModelOptions]="{standalone: true}" -->
                        <!--<label>Photo </label>-->
                        <input type="file" #file1 placeholder="Choose file" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}" (change)="upload(file1.files,0)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file1.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Photo
                        </button>
                        <div class="row">
                          Dimension (94*94 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL1" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>

                    <!--<tr>
                      <td>
                    
                        <input type="file" #file2 placeholder="Choose file" [(ngModel)]="CoverPhoto" [ngModelOptions]="{standalone: true}" (change)="upload(file2.files,1)"
                               name="fileName" style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file2.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Cover Photo
                        </button>
                        <div class="row">
                          Dimension (1519*207 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress1 > 0" style="font-size: 11px;">
                            {{progress1}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                      <td>
                        <img [src]="previewImgURL2" height="200" style="margin-bottom:50px;">
                      </td>
                    </tr>-->
                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
