<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #cmsConsultationForm="ngForm" (ngSubmit)="AddConsultation()">
    <table>
      <tr class="3-cols">
        <td>
          <!--<mat-form-field class="mat-form-field-fluid select-input" appearance="outline" style="width: 100%;">
            <mat-select placeholder="Select Department" [(ngModel)]="selDepartment">
              <mat-option *ngFor="let row of filteredDepartmentList" [value]="row.DepartmentId">
                {{row.DepartmentName}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
          <label class="control-label">Department <span class="required-sign">*</span></label>

          <select [(ngModel)]="selDepartment" [ngModelOptions]="{standalone: true}" class="form-control">
            <option disabled>Select Department</option>
            <option *ngFor="let row of filteredDepartmentList" [ngValue]="row">{{row.departmentName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Title <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="Title" size="50"
                 [(ngModel)]="selectedCMSConsultation.title" />
        </td>
      </tr>
      <tr>
        <td >
          <label class="control-label">Content <span class="required-sign">*</span></label>
          <ck-editor name="editor1" [(ngModel)]="selectedCMSConsultation.content" ></ck-editor>
          <!--<ngx-ckeditor [(ngModel)]="selectedCMSConsultation.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->

        </td>
      </tr>


      <tr>
        <td>
          <!--<label>Icon </label>-->
          <input type="file" #file placeholder="Choose file" (change)="upload(file.files)"
                 name="fileName" [(ngModel)]="selectedCMSConsultation.iconPath" [ngModelOptions]="{standalone: true}"
                 style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Icon
          </button>
          <div class="row">
            Dimension (30*30 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
      </tr>
    </table>
    <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
        {{
                         EditMode?"Update":"Submit"
        }}
      </button>
    </div>
  </form>
</div>
