
<div class="section page-top">
  <div class="ver-2 text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="justify-content-center hero-text-center">
            <div class="hero-text mt-0"><b>{{aboutUs.title}}</b></div>
            <h4></h4>
          </div>
        </div>
        <div class="col text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="[ '/', 'homepage' ]">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{aboutUs.title}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="home-isolation bg-white abt-us">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-8"> </div> -->
      <div class="col-md-6">
        <div class="emmergency-info">
          <!-- <h4 class="sub-heading">{{aboutUs.title}}</h4> -->
          <!--<ul class="list-style">
            <li>Contacts of suspected, probable and confirmed cases</li>
            <li>
              Exposed to international travellers (family members and people travelling together with
              suspected, probable and confirmed cases)
            </li>
          </ul>
          <p>
            The Danphe team of Consultants, Medical Officers , Nurses and Health
            Assistant will be mobilized whilst making efforts to reduce stigmatization
            of suspected cases or quarantined households to educate, facilitate
            and follow-up people to comply with the guidelines. The process
            will be in partnership with the local authorities including health
            facilities and other stakeholders. FCHVs, Lab Technicians , Pharmacists,
            and other volunteers will be mobilized where necessary.
          </p>-->
          <div [innerHTML]="aboutUs.content"></div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="emmergency-image"> <img [src]="aboutUs.imagePath" alt=""> </div>
      </div>
    </div>
  </div>
</section>
<section class="emmergency">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="emmergency-image"> <img src="../../../assets/images/aboutus1.jpg"alt=""> </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="emmergency-info">
          <h4 class="sub-heading" style="">Danphe Health Operation for COVID Care :</h4>
          <ul class="list-style">
            <li>Assessment of : Physical health, Mental health, Social Health</li>
            <li>Orientation</li>
            <li>Regular monitoring</li>
            <li>Intervention and specialized consultation</li>
            <li>Analysis and Recommendation</li>
            <li>Referral mechanism</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

