<!--<base href="/">
<h5 style="text-align:center;background:blue">Danphe Care CMS</h5>
<div class="row">
  <div id='cssmenu'>
    <div class="sidebar-header">
      <strong></strong>
      <h4 style="color:white;padding:15px">ADMIN PANEL </h4>
    </div>
    <ul>
      <li class='has-sub'>
        <a routerLink="aboutus"> <i class="fa fa-home"></i>&nbsp;&nbsp;<span>About Us </span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="ourServices"> <i class="fa fa-users"></i>&nbsp;&nbsp;<span>Our Services</span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="ourteam"> <i class="fa fa-users"></i>&nbsp;&nbsp;<span>Our Team </span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="testimonial"> <i class="fa fa-users"></i>&nbsp;&nbsp;<span>Testimonial </span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="contact"> <i class="fa fa-phone"></i>&nbsp;&nbsp;<span>Contact Us </span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="blog"> <i class="fa fa-book"></i>&nbsp;&nbsp;<span>Blog </span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="news"> <i class="fa fa-book"></i>&nbsp;&nbsp;<span>News </span></a>
      </li>
      <li class='has-sub'>
        <a routerLink="partner"> <i class="fa fa-book"></i>&nbsp;&nbsp;<span>Partner With Us </span></a>
      </li>

    </ul>
  </div>
  <div style="margin-right:0px !important;" class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>-->
<!--<div class="col-md-12">
</div>-->
  <!--<app-cms-header></app-cms-header>-->

<!-- Sidebar -->
  <div id="wrapper" style="margin-top:100px">
    <!--<ngx-toasta></ngx-toasta>-->
    <div class="col-md-3">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <li class="nav-item active">
          <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="cms">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-stethoscope"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Wecare CMS</div>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
             aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-home"></i>
            <span>Services</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" routerLink="services">Services</a>
              <a class="collapse-item" routerLink="cmssubservices">Sub Services</a>
        <a class="collapse-item" routerLink="cmssubservicesdetails">Sub Services Details</a>
        <!--<a class="collapse-item" routerLink="testimonial">Testimonial</a>-->
            </div>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link collapsed" routerLink="aboutus" data-toggle="collapse" data-target="#collapseThree"
             aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-user"></i>
            <span>About Us</span>
          </a>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" routerLink="aboutus">About Us</a>
            </div>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
             aria-expanded="true" aria-controls="collapseFour">
            <i class="fas fa-hospital-o"></i>
            <span>Our Specialist</span>
          </a>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <!--<a class="collapse-item" routerLink="cmsdepartment">Department</a>
        <a class="collapse-item" routerLink="departmentsubheading">Department Subheading</a>
        <a class="collapse-item" routerLink="departmentdetails">Department Tabs</a>-->
              <a class="collapse-item" routerLink="cmsdoctor">Doctor</a>
              <!--<a class="collapse-item" routerLink="cmsconsultation">Department Consultation</a>-->
              <!--<a class="collapse-item" routerLink="cmsarticles">Resourceful Articles</a>-->
            </div>
          </div>
        </li>
        <!--<li class="nav-item ">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
       aria-expanded="true" aria-controls="collapseFive">
      <i class="fa fa-newspaper-o"></i>
      <span>News</span>
    </a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="cmsnews">News</a>
      </div>
    </div>
  </li>
  <li class="nav-item ">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
       aria-expanded="true" aria-controls="collapseSix">
      <i class="fa fa-book"></i>
      <span>Blogs</span>
    </a>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="cmsblogs">Blog</a>
      </div>
    </div>
  </li>
  <li class="nav-item ">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven"
       aria-expanded="true" aria-controls="collapseSeven">
      <i class="fa fa-expand"></i>
      <span>Expat</span>
    </a>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="cmsexpat">Expat</a>
      </div>
    </div>
  </li>
  <li class="nav-item ">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight"
       aria-expanded="true" aria-controls="collapseEight">
      <i class="fa fa-television"></i>
      <span>Webinar</span>
    </a>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="cmswebinar">Webinar</a>
      </div>
    </div>
  </li>-->

        <li class="nav-item ">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsepackage"
             aria-expanded="true" aria-controls="collapsepackage">
            <i class="fas fa-hospital-o"></i>
            <span>Packages</span>
          </a>
          <div id="collapsepackage" class="collapse" aria-labelledby="headingPackage" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" routerLink="cmspackage">Package Name</a>
              <a class="collapse-item" routerLink="cmspackagedetails">Package Details</a>
            </div>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNine"
             aria-expanded="true" aria-controls="collapseNine">
            <i class="fa fa-file-contract"></i>
            <span>Contact</span>
          </a>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" routerLink="cmscontact">Contact</a>
            </div>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTen"
             aria-expanded="true" aria-controls="collapseTen">
            <i class="fa fa-tags"></i>
            <span>Meta Tag</span>
          </a>
          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" routerLink="cmsmetatag">Meta Tag</a>
              <a class="collapse-item" routerLink="metatagdoctor">Doctor Profile</a>
              <!--<a class="collapse-item" routerLink="metatagblog">Blog Details</a>
        <a class="collapse-item" routerLink="metatagdepartment">Department Details</a>-->
              <a class="collapse-item" routerLink="metatagservice">Services</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div style="margin-right:0px !important;" class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--<app-cms-footer></app-cms-footer>-->
<!-- End of Sidebar -->
