<div class="info-heading">
  <button type="button"
          class="btn btn-primary" (click)="Back()" style="margin-bottom:20px">
    Back to list
  </button>
  <form #cmsArticlesForm="ngForm" (ngSubmit)="AddArticles(cmsArticlesForm)">
    <table>
      <!--<tr>
        <td>
         
          <label class="control-label">Doctor<span class="required-sign">*</span></label>

          <select [(ngModel)]="selDoctor" [ngModelOptions]="{standalone: true}" class="form-control">
            <option disabled>Select Doctor</option>
            <option *ngFor="let row of filteredDoctorList" [ngValue]="row">{{row.fullName}}</option>
          </select>
        </td>
      </tr>-->
      <tr>
        <td>
          <label class="control-label">Title <span class="required-sign">*</span></label>
          <input class="form-control" type="text" name="Title" size="50" #Title="ngModel"
                 [(ngModel)]="selectedCMSArticles.title" required />
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">Content <span class="required-sign">*</span></label>
          <!--<ngx-ckeditor [(ngModel)]="selectedCMSArticles.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
          <ck-editor name="editor1" [(ngModel)]="selectedCMSArticles.content"></ck-editor>

        </td>
      </tr>


      <tr>
        <td>
          <!--<label>Image </label>-->
          <input type="file" #file placeholder="Choose file" (change)="upload(file.files)"
                 name="fileName" [(ngModel)]="selectedCMSArticles.imagePath" [ngModelOptions]="{standalone: true}"
                 style="display:none;">
          <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                  style="font-size: 14px; margin-top: 25px">
            <i class="fa fa-upload"></i>Upload
            Image
          </button>
          <div class="row">
            Dimension (1519*207 pixels)
          </div>
          <div class="col-md-10 d-inline">
            <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message" style="font-size: 11px;">
              {{message}}
            </span>
          </div>
        </td>
      </tr>
    </table>
    <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
    <div class="modal-footer">
      <button class="btn btn-primary" value="Submit">
        {{
                         EditMode?"Update":"Submit"
        }}
      </button>
    </div>
  </form>
</div>
