<div class="wrapper">
 
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Expat
        </span>
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" (click)="AddBtnClick()" style="margin-bottom:20px">
          + Add Expat
        </button>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
                class="mat-chip mat-primary mat-standard-chip mat-chip-selected">
          Edit Click button
        </button>
      </h1>
     
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search expat">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of expatList | filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  };let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;"><div class="truncate" [innerHTML]="data.name"></div></td>
            <td style="vertical-align: middle;"><img [src]="data.imagePath" height="75" style="margin-bottom:10px;"></td>
            <td>
              <button (click)="EditExpat(data.expatId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <a (click)="DeleteExpat(data.expatId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>

      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add" }} New Expat</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #cmsExpatForm="ngForm" (ngSubmit)="AddCMSExpat(cmsExpatForm)">
                  <table>

                    <tr>
                      <td>
                        <label class="control-label">Name </label>
                        <ck-editor name="editor1" [(ngModel)]="selectedCMSExpat.name" ></ck-editor>
                        <!--<ngx-ckeditor [(ngModel)]="selectedCMSExpat.name" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!--<label>Photo </label>-->
                        <input type="file" #file placeholder="Choose file" (change)="upload(file.files)"
                               name="fileName" [(ngModel)]="ImagePath" [ngModelOptions]="{standalone: true}"
                               style="display:none;">
                        <button type="button" class="btn btn-primary d-inline" (click)="file.click()"
                                style="font-size: 14px; margin-top: 25px">
                          <i class="fa fa-upload"></i>Upload
                          Photo
                        </button>
                        <div class="row">
                          Dimension (432*408 pixels)
                        </div>
                        <div class="col-md-10 d-inline">
                          <span class="upload" *ngIf="progress > 0" style="font-size: 11px;">
                            {{progress}}%
                          </span>
                          <span class="upload" *ngIf="message" style="font-size: 11px;">
                            {{message}}
                          </span>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <img [src]="previewImgURL" height="200" style="margin-bottom:50px;">
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start: Model to Add or Edit Services -->
    </div>
  </div>
</div>
