


<div class="wrapper">

  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">
        <span class="select-title" style="font-size:30px">
          <i class="fa fa-plus-square"></i> Metatag
        </span>
        <!--<button type="button"
                class="btn btn-primary pull-right" (click)="AddBtnClick()" style="margin-bottom:20px">
          + Add 
        </button>-->
        <button type="button" data-toggle="modal" data-target="#target"
                class="btn btn-primary pull-right" (click)="AddBtnClick()" style="margin-bottom:20px">
          + Add Metatag
        </button>
        <button type="button" data-toggle="modal" data-target="#target" id="editButtonClicked" [hidden]="true"
                class="btn btn-primary">
          Edit Click button
        </button>
      </h1>

      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search metatag">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Start: Table with List of Services -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Title</th>
            <!--<th scope="col">Description</th>-->
            <th scope="col">Keywords</th>
            <th scope="col">Page</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of metaTagList| filter: searchText |paginate: { itemsPerPage: 10, currentPage: p  };let i = index;">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;">{{data.title}}</td>
            <!--<td style="vertical-align: middle;">{{data.content}}</td>-->
            <td style="vertical-align: middle;">{{data.keywords}}</td>
            <td style="vertical-align: middle;">{{data.page}}</td>
            <td>
              <button (click)="EditMetaTag(data.metaTagId)" class="btn btn-primary btn-sm mr-1">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <a (click)="DeleteMetaTag(data.metaTagId)" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-trash"></i>Delete
              </a>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" style="font-size:20px" (pageChange)="p = $event"></pagination-controls>
      <div class="modal fade " id="target" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel"> {{EditMode?"Edit":"Add" }} New MetaTag</h5>
              <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color:snow;">
              <div class="info-heading">
                <form #cmsMetaTagForm="ngForm" (ngSubmit)="AddMetaTag(cmsMetaTagForm)">
                  <table>
                    <tr>
                      <td>
                        <label class="control-label">Page <span class="required-sign">*</span></label>

                        <select [(ngModel)]="selMetaTag" [ngModelOptions]="{standalone: true}" class="form-control">
                          <option disabled>Select Page</option>
                          <option *ngFor="let row of filteredPage" [ngValue]="row">{{row.title}}</option>
                        </select>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label class="control-label">Title <span class="required-sign">*</span></label>
                        <input class="form-control" type="text" name="Title" size="50"
                               [(ngModel)]="selectedCMSMetaTagContent.title" />
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label class="control-label">Keywords <span class="required-sign">*</span></label>
                        <textarea class="form-control" type="text" name="Keywords" size="50"
                                  [(ngModel)]="selectedCMSMetaTagContent.keywords"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="control-label">Description <span class="required-sign">*</span></label>
                        <textarea class="form-control" type="text" name="content" size="50" rows="8" cols="50"
                                  [(ngModel)]="selectedCMSMetaTagContent.content"></textarea>
                        <!--<ck-editor name="editor1" [(ngModel)]="selectedCMSMetaTagContent.content"></ck-editor>-->
                        <!--<ngx-ckeditor [(ngModel)]="selectedCMSDepTabContent.content" [ngModelOptions]="{standalone: true}"></ngx-ckeditor>-->
                      </td>
                    </tr>
                  </table>
                  <div class="modal-footer">
                    <button class="btn btn-primary" value="Submit">
                      {{
                         EditMode?"Update":"Submit"
                      }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

