
<section class="profile-section pt-0 pb-3">
  <div class="cover-img"> <a><img [src]="profile.coverPhoto" alt=""></a> </div>
  <div class="container">
    <div class="profile-img" *ngIf="profile.coverPhoto == null" style="margin-top:160px"> <img [src]="profile.imagePath" alt=""> </div>
    <div class="profile-img" *ngIf="profile.coverPhoto != null"> <img [src]="profile.imagePath" alt=""> </div>
    <!--<div class="profile-img"> <img [src]="profile.imagePath" alt=""> </div>-->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-8">
          <h2>{{profile.fullName}}</h2>
          <p>{{profile.designation}}</p>
          <p>{{profile.departmentName}} </p>
          <p>{{profile.experience}} of experience</p>
        </div>
        <div class="col-md-4">

          <div class="text-right">
            <button type="button" class="btn btn-success" style="padding-left:20px !important" data-toggle="modal" data-target="#contactModal">
              <!--<ion-icon name="calendar-outline"></ion-icon>-->
              <i class="fa fa-calendar"></i>
              Book Appointment<span>No Booking Fee</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="specialist-section" *ngIf="profile.content != null || profile.content != ''">
  <div class="section-heading">
    <div class="row">
      <div class="col-md-12" [innerHTML]="profile.content">

      </div>
    </div>
  </div>
</section>
<section class="detail-section" *ngIf="IsSubHeading">
  <!--<div class="section-heading">
    <h1 class="section-title w-100 text-left font-weight-bold">
      <p class="d-block font-weight-lighter w-75"></p>
    </h1>-->
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading" style="max-width: inherit; margin: 0 0 45px 0;">
        <h1 class="section-title w-100 text-center font-weight-bold">You can consult on this </h1>
      </div>
    </div>
  </div>
  <!--</div>-->
  <div class=" container carousel slide multi-item-carousel" id="theCarousel">
    <div class="carousel-inner row w-100 mx-auto">
      <!--<div class="row">-->
        <div class="carousel-items col-md-4" *ngFor="let department of subheadingList" style="">
          <div class="special-item text-center" style="height:95%">
            <div class="icon"><img [src]="department.iconPath" alt="logo" style="width:80%" /> </div>
            <h3>{{department.title}}</h3>
            <span [innerHTML]="department.shortDescription"></span>
            <!--<a (click)="DepartmentDetails(department.departmentSubHeadingId)" class="links">Consult Now <i class="fa fa-angle-right"></i></a>-->
          </div>
        </div>
      </div>
    <!--</div>-->
    <a class="carousel-control-prev" href="#theCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#theCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!--Profile Section end-->
<!--<section class="specialist-section">
  <div class="section-heading">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading" style="max-width: inherit; margin: 0 0 45px 0;">
          <h1 class="section-title w-100 text-left font-weight-bold">You can consult on this </h1>
        </div>
      </div>
    </div>

    <div class="consult row">

      <div class="col-md-4" *ngFor="let data of departmentList">
        <div class="service-content-item">
          <div class="item-title">
            <div class="service-content-icon"> <img [src]="data.iconPath" alt=""> </div>
            <h3><a routerLink="">{{data.departmentName}}</a></h3>
          </div>
          <p>{{data.title}}</p>
        </div>
      </div>


    </div>
  </div>

</section>-->
<!--	Resources Articles-->

<section class="blog-wrapper pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading" style="max-width: inherit; margin: 0 0 45px 0;">
          <h1 class="section-title w-100 text-center font-weight-bold">Resourceful Articles </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let data of blogsList">
        <div class="blog-post" (click)="GoToBlogDetails(data.permaLink)">
          <div class="blog-img" (click)="GoToBlogDetails(data.permaLink)"> <img [src]="data.imagePath" alt=""> </div>
          <div class="blog-content">
            <h4><a routerLink="blog" (click)="GoToBlogDetails(data.permaLink)">{{data.title}}</a></h4>
            <div class="post">
              <ul>
                <li><a href="#"><svg class="svg-inline--fa fa-clock fa-w-16" aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg><!-- <i class="far fa-clock"></i> -->{{data.createdDate | date:'mediumDate'}}</a></li>

                <li><a href="#"><svg class="svg-inline--fa fa-user fa-w-14" aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg><!-- <i class="far fa-user"></i> -->Posted by {{data.postedBy}}</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true" [style.display]="showModelBox ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
        <a class="close" data-dismiss="modal" aria-label="Close" (click)="hide()"> <i class="fa fa-times" aria-hidden="true"></i> </a>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="icon-box ask w-100" data-aos-delay="300">
          <p class="small">If you want to know more about our services, want to book with one of our specialists or if you want to know about our upcoming events feel free to contact us. Our care coordinator will assist you & do the needful. </p>
          <form [formGroup]="reachForm2" (ngSubmit)="onSubmitBook()" novalidate class="ask-form mt-3">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group"> </div>
                <div class="form-group">

                  <input type="text" formControlName="name2" id="name2" placeholder="Enter your name *" [(ngModel)]="DhcareRuq1.name"
                         class="form-control" [ngClass]="{ 'is-invalid': submitForm2 && NameControl2.errors }" />
                  <div *ngIf="NameControl2.invalid && (NameControl2.dirty || NameControl2.touched || (NameControl2.untouched && submitForm2))" class="alert-sm alert-danger">
                    <div *ngIf="NameControl2.errors.required">Name is required</div>
                  </div>

                </div>
                <div class="form-group">
                  <input type="text" formControlName="phonenumber2" id="phonenumber2" placeholder="Phone Number *" [(ngModel)]="DhcareRuq1.phone"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                         class="form-control" [ngClass]="{ 'is-invalid': submitForm2 && PhoneNumberControl2.errors }" />
                  <div *ngIf="PhoneNumberControl2.invalid && (PhoneNumberControl2.dirty || PhoneNumberControl2.touched || (PhoneNumberControl2.untouched && submitForm2))" class="alert-sm alert-danger">
                    <div *ngIf="PhoneNumberControl2.errors.required">Phone Number is required</div>
                  </div>

                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Your Message" [(ngModel)]="DhcareRuq1.message" [ngModelOptions]="{standalone: true}" #message="ngModel" required></textarea>
                </div>
                <div class="form-group mt-5">
                  <button class="btn-get-started btn-small w-100" type="submit">
                    <span *ngIf="loading2" class="spinner-border" role="status">Sending ...</span>
                    <span *ngIf="!loading2">Contact Us</span>
                  </button>
                  <!--<input type="submit" name="btnSubmit" class="btn-get-started btn-small w-100" value="Contact Us">-->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
          .light-over-pages {
            position: absolute;
            background: linear-gradient(180deg, rgb(255 255 255 / 70%), rgb(189 189 189 / 40%));
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 2;
            top: 0;
            left: 0;
          }

          .list-style {
            padding: 0;
          }

            .list-style li {
              list-style: none;
              position: relative;
              padding-left: 25px;
              margin: 5px 0;
            }

              .list-style li span {
                display: block;
              }

              .list-style li:before {
                content: "\f00c";
                font-family: FontAwesome;
                background-color: #0db696;
                color: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 15px;
                height: 15px;
                align-items: center;
                font-size: 0.7rem;
                border-radius: 50%;
                position: absolute;
                top: 3px;
                left: 0;
              }

          .home-isolation .sub-heading, .emmergency-info .sub-heading {
            font-weight: 700;
            font-size: 1.5rem;
          }

          .center-title {
          }

            .center-title h4 {
            }
</style>
